<div class="registry__component--demo-container">
	{{#demos}}
		<div class="registry__component--demo">
			<h3 class="registry__component--demo-title registry__linked-heading" id="demo-{{slugify title}}" data-o-component="o-linked-heading">
				{{capitalise title}}
			</h3>
			{{#if description}}
				<p class="registry__component--demo-description">{{description}}</p>
			{{/if}}

			<div class="registry__component--demo-tabs">
				<ul data-o-component="o-tabs" class="o-tabs o-tabs--buttontabs" role=tablist>
					{{#if display.html}}
						{{#if display.live}}
							<li role=tab>
								<a href="#{{slugify title}}-demo-{{@index}}">Demo</a>
							</li>
						{{/if}}
						<li role=tab>
							<a href="#{{slugify title}}-html-{{@index}}">HTML</a>
						</li>
					{{/if}}
				</ul>

				<span><a class="registry__demo-button" href="{{supportingUrls.live}}" target="_blank">Open Demo in a New Tab</a></span>
			</div>

			<div class="registry__component--demo-display">
				{{#if display.live}}
					<div class="o-tabs__tabpanel" id="{{slugify title}}-demo-{{@index}}">
						<iframe scrolling="yes" allowTransparency="true" src="{{supportingUrls.live}}" class="demo__live" title="{{capitalise title}} Live Demo"></iframe>
					</div>
				{{/if}}
				{{#if display.html}}
					<div class="o-tabs__tabpanel" data-o-component="o-syntax-highlight" id="{{slugify title}}-html-{{@index}}">
						{{#if display.plainHTML}}
							<button class="registry__demo-button select-html">Select Full Code Snippet</button>
							<pre><code class='o-syntax-highlight--html'>{{{display.highlightedHTML}}}</code></pre>
						{{else}}
							<iframe scrolling="yes" allowTransparency="true" src="{{supportingUrls.html}}" class="demo__code" title="{{capitalise title}} HTML Code Snippet"></iframe>
						{{/if}}
					</div>
				{{/if}}
			</div>
		</div>
	{{/demos}}
</div>
