<div class="registry-demo-container">
	{{#demos}}
		<div class="registry-demo">
			<h2 id="demo-{{slugify title}}">
				{{capitalise title}}
			</h2>
			{{#if description}}
				<p>{{description}}</p>
			{{/if}}

			<div class="registry-demo-options">
				<div class="registry-demo-options__tabs">
					<ul data-o-component="o-tabs" class="o-tabs o-tabs--buttontabs o-tabs--secondary o-tabs--mono o-layout__unstyled-element" role="tablist">
						{{#if display.html}}
							{{#if display.live}}
								<li role="tab">
									<a href="#{{slugify title}}-demo-{{@index}}">Demo</a>
								</li>
							{{/if}}
							<li role="tab">
								<a href="#{{slugify title}}-html-tabpanel-{{@index}}">HTML</a>
							</li>
						{{/if}}
					</ul>
				</div>

				<div class="registry-demo-options__links">
					<a class="registry-demo-options__anchor o-layout__unstyled-element" href="{{supportingUrls.live}}" target="_blank">Open demo in a new tab</a>
				</div>
			</div>

			<div class="registry-demo-content">
				{{#if display.live}}
					<div class="o-tabs__tabpanel" id="{{slugify title}}-demo-{{@index}}">
						<iframe scrolling="yes" allowTransparency="true" src="{{supportingUrls.live}}" class="registry-demo-content__live" title="{{capitalise title}} Live Demo"></iframe>
					</div>
				{{/if}}
				{{#if display.html}}
					<div class="o-tabs__tabpanel" id="{{slugify title}}-html-tabpanel-{{@index}}">
						{{#if display.plainHTML}}
							<span class="o--if-js registry-demo-content__html-controls">
								<button class="o-buttons o-buttons--secondary o-buttons--mono" data-select-html="{{slugify title}}-html-code-{{@index}}">Select Full Code Snippet</button>
							</span>
							<pre><code id="{{slugify title}}-html-code-{{@index}}" class='registry-demo-content__html-code o-syntax-highlight--html'>{{{display.highlightedHTML}}}</code></pre>
						{{else}}
							<iframe scrolling="yes" allowTransparency="true" src="{{supportingUrls.html}}" class="registry-demo-content__live" title="{{capitalise title}} HTML Code Snippet"></iframe>
						{{/if}}
					</div>
				{{/if}}
			</div>
		</div>
	{{/demos}}
</div>
