<h3>Service Details</h3>

<ul class="service-details">
{{#if service.systemCode}}
	<li>
		<span class="service-details__title">System Code</span>: {{service.systemCode}}
	</li>
{{/if}}

{{#if service.serviceTier}}
	<li>
		<span class="service-details__title">Service Tier</span>: {{service.serviceTier}}
	</li>
{{/if}}

{{#if service.primaryUrl}}
	<li>
		<span class="service-details__title">URL</span>: <a class="link" href="{{service.primaryUrl}}">{{service.primaryUrl}}</a>
	</li>
{{/if}}

</ul>

{{#if service.links}}
	<h3>Service Links</h3>
	<ul>
		{{#service.links}}
			<li>
				<a href="{{url}}">{{#if description}}{{description}}{{else}}{{url}}{{/if}}</a>
			</li>
		{{/service.links}}
	</ul>
{{/if}}
