<h3>Service Details</h3>

{{#if service.systemCode}}
	<p class="o-layout__unstyled-element">
		<span>System Code</span> — {{service.systemCode}}
	</p>
{{/if}}

{{#if service.serviceTier}}
	<p class="o-layout__unstyled-element">
		<span>Service Tier</span> — {{service.serviceTier}}
	</p>
{{/if}}

{{#if service.primaryUrl}}
	<p class="o-layout__unstyled-element">
		<span>Url</span> — <a class="link" href="{{service.primaryUrl}}">{{service.primaryUrl}}</a>
	</p>
{{/if}}

{{#if service.links}}
	<h3>Service Links</h3>
	<ul>
		{{#service.links}}
			<li>
				<a href="{{url}}">{{#if description}}{{description}}{{else}}{{url}}{{/if}}</a>
			</li>
		{{/service.links}}
	</ul>
{{/if}}
