
{{#if images}}

	<h2>Image Set</h2>

	<!--
	TODO remove inline styles from here: they're just in place to make the page smaller
	while we test things out
	-->

	<ul style="display: flex; flex-wrap: wrap; align-content: space-around; list-style: none; padding-left: 0;">
		{{#images}}
			<li style="width: 100px; margin-right: 10px; margin-bottom: 10px;">
				<img src="{{supportingUrls.w200}}" alt="{{title}}" style="display: block; width: 100px"/>
				{{title}}
			</li>
		{{/images}}
	</ul>

{{/if}}
