<footer class="o-registry-ui__footer">
	<div class="o-registry-ui__footer--content">
		<p>Help or advice for FT staff on any aspect of Origami is available from <a href="mailto:origami.support@ft.com">origami.support@ft.com</a>.</p>
		<p>Public users please <a href="https://github.com/Financial-Times/ft-origami/issues">raise an issue on the repository</a> instead.</p>

		<p>&copy; THE FINANCIAL TIMES LTD 2018. FT and 'Financial Times' are trademarks of The Financial Times Ltd.</p>
	</div>
	<span class="o-registry-ui__footer--logo">Origami</span>
</footer>
