<footer class="o-footer-services">
	<div class="o-footer-services__container">
		<div class="o-footer-services__info">
			<span class="o-footer-services__logo">Origami</span>
			<p class="o-footer-services__contact-email">Help or advice for FT staff on any aspect of Origami is available from <a href="mailto:origami.support@ft.com">origami.support@ft.com</a>.</p>
			<p class="o-footer-services__contact-slack"><a href="https://slack.com/messages/C02FU5ARJ/">#ft-origami</a></p>
			<p> Public users please <a class="link" href="https://github.com/Financial-Times/ft-origami/issues">raise an issue on the repository</a> instead.</p>
		</div>
		<div class="o-footer-services__base">
			<p class="o-footer-services__source-code"><a href="http://github.com/financial-times/o-footer-services">View project on GitHub</a></p>
			<p class="o-footer-services__copyright">&#xA9; THE FINANCIAL TIMES LTD. FT and &apos;Financial Times&apos; are trademarks of The Financial Times Ltd.</p>
		</div>
	</div>
</footer>
