<!DOCTYPE html>
<html class="core" lang="en">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<title>{{title}}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	{{#if canonical}}
		<link rel="canonical" href="{{canonical}}" />
	{{/if}}

	<link rel="icon" type="image/png" href="https://www.ft.com/__origami/service/image/v2/images/raw/ftlogo-v1%3Aorigami?source=origami-registry-ui&width=16&height=16&format=png" sizes="16x16">
	<link rel="icon" type="image/png" href="https://www.ft.com/__origami/service/image/v2/images/raw/ftlogo-v1%3Aorigami?source=origami-registry-ui&width=32&height=32&format=png" sizes="32x32">
	<link rel="icon" type="image/png" href="https://www.ft.com/__origami/service/image/v2/images/raw/ftlogo-v1%3Aorigami?source=origami-registry-ui&width=96&height=96&format=png" sizes="96x96">
	<link rel="icon" type="image/png" href="https://www.ft.com/__origami/service/image/v2/images/raw/ftlogo-v1%3Aorigami?source=origami-registry-ui&width=128&height=128&format=png" sizes="128x128">
	<link rel="icon" type="image/png" href="https://www.ft.com/__origami/service/image/v2/images/raw/ftlogo-v1%3Aorigami?source=origami-registry-ui&width=196&height=196&format=png" sizes="196x196">
	<link rel="icon" type="image/png" href="https://www.ft.com/__origami/service/image/v2/images/raw/ftlogo-v1%3Aorigami?source=origami-registry-ui&width=310&height=310&format=png" sizes="310x310">
	<link rel="icon" type="image/svg+xml" href="https://www.ft.com/__origami/service/image/v2/images/raw/ftlogo-v1%3Aorigami?source=origami-registry-ui&format=svg" sizes="any">

	{{> ctm }}

	<style>
		.core .o--if-js,
		.enhanced .o--if-no-js {
			display: none !important;
		}
		html {
			overflow-x: hidden;
		}
		body {
			margin: 0;
		}
	</style>

	{{> preload }}

	<link rel="stylesheet" href="{{mainCssPath}}" />
</head>

<body>
	{{{ body }}}
</body>

</html>
