<!DOCTYPE html>
<html class="core" lang="en">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<title>{{title}}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	{{> ctm }}

	<style>
		.core .o--if-js,
		.enhanced .o--if-no-js {
			display: none !important;
		}
		html {
			overflow-x: hidden;
		}
		body {
			margin: 0;
		}
	</style>

	<link rel="stylesheet" href="/main.css" />
	<script src="https://polyfill.io/v2/polyfill.min.js?features=fetch,default"></script>
</head>
<body class="o-registry-ui">

	{{> header/main }}

	<main role="main" class="typography-wrapper">
		{{{ body }}}
	</main>

</body>
</html>
