<div class="o-layout o-layout--query" data-o-component="o-layout">
	<div class="o-layout__header">
		 {{> header/main }}
	</div>

	<div class="o-layout__heading">
		<div class="o-layout-typography">
			{{> component/header}}
		</div>
		{{> component/messages}}
	</div>

	<div class="o-layout__query-sidebar">
		{{> component/sidebar-nav }}
	</div>

	<div class="o-layout__main o-layout-typography" data-o-component="o-syntax-highlight">
		{{#if demos}}
			{{> component/type/demos}}
		{{/if}}

		{{#if images}}
			{{> component/type/images}}
		{{/if}}

		{{#if service}}
			{{> component/type/service}}
		{{/if}}
	</div>

	<div class="o-layout__aside-sidebar o-layout-typography" data-o-component="o-syntax-highlight">
		{{> component/quickstart-sidebar}}
	</div>

	<div class="o-layout__footer">
		{{> footer}}
	</div>
</div>
