
<!-- Beautiful temporary example markup -->

<p class="wip-notice">⚠️ This is a work in progress ⚠️</p>

<table class="o-table o-registry-ui__table" data-o-component='o-table' data-test="component-table">
	<thead class="o-registry-ui__table-head">
		<tr>
			<th>Name</th>
			<th data-o-table-data-type="numeric" class='o-table__cell--numeric'>Version</th>
			<th>Status</th>
		</tr>
	</thead>
	<tbody class="o-registry-ui__table-body">
		{{#each components}}
			<tr>
				<td>
					<a class='o-registry-ui__table-cell--link' href="/components/{{name}}@{{version}}" data-test="component-link">{{name}}</a>
					<p class='o-registry-ui__table-cell--description'>{{description}}</p>
				</td>
				<td data-o-table-data-type="numeric" class='o-table__cell--numeric'>{{version}}</td>
				<td>{{support.status}}</td>
			</tr>
		{{/each}}
	</tbody>
</table>
