<div class="o-layout o-layout--query" data-o-component="o-layout">
    <div class="o-layout__header">
        {{> header }}
    </div>

    <div class="o-layout__main">
        <div class="o-layout-typography">
            <h1>The Origami Registry has been decomissioned</h1>
            <p>The Origami Registry is being replaced by <a href="https://origami.ft.com/storybook/">Storybook</a> and is no longer available. Please refer to Storybook for Origami component demos. You can read more about the decomission on <a href="">our blog</a>.</p>
            <h2>What do I do next?</h2>
            <ul>
                <li>You may have found this page through a link in documentation. Please ensure your documentation is updated to point to the equivalent demo in Storybook.</li>
                <li>Visit our <a href="https://origami.ft.com/storybook/">Storybook</a> website for all Origami demos.</li>
                <li>Is there something missing? Please let us know in #origami-support if there is something missing that was previously available in the registry.</li>
            </ul>
        </div>
    </div>

</div>