<div class="o-layout o-layout--query" data-o-component="o-layout">
	<div class="o-layout__header">
		 {{> header }}
	</div>

	<div class="o-layout__heading">
		<div class="o-layout-typography">
			{{> component/header}}
		</div>
        {{> component/messages}}
	</div>

	<div class="o-layout__query-sidebar">
    {{#ifEither dependencies.bower.length dependencies.npm.length}}
        <nav class="o-layout__navigation">
            <ol>
                {{#if browserFeatures.required.length}}
                    <li><a href="#required-browser-features">Required Browser Features</a></li>
                {{/if}}
                {{#if browserFeatures.optional.length}}
                    <li><a href="#optional-browser-features">Optional Browser Features</a></li>
                {{/if}}
                {{#if dependencies.bower.length}}
                    <li><a href="#bower">Bower Dependencies</a></li>
                {{/if}}
                {{#if dependencies.npm.length}}
                    <li><a href="#npm">NPM Dependencies</a></li>
                {{/if}}
            </ol>
        </nav>
    {{/ifEither}}
	</div>

    <div class="o-layout__main o-layout-typography" data-o-component="o-syntax-highlight">

        {{#ifEither browserFeatures.required.length browserFeatures.optional.length}}
            {{#if browserFeatures.required.length}}
                <h2 id="required-browser-features">Required Browser Features</h2>
                <p>{{ component.name }}@^{{ component.version }} requires the following browser features:</p>
                <ul>
                {{#each browserFeatures.required}}
                    <li>
                        <code>{{ . }}</code>
                    </li>
                {{/each}}
                </ul>

            {{/if}}
            {{#if browserFeatures.optional.length}}
                <h2 id="optional-browser-features">Optional Browser Features</h2>
                <p>{{ component.name }}@^{{ component.version }} works best for browsers which support the following features, but will handle cases where they are not avalible:</p>
                <ul>
                {{#each browserFeatures.optional}}
                    <li>
                        <code>{{ . }}</code>
                    </li>
                {{/each}}
                </ul>
            {{/if}}
        {{/ifEither}}

        {{#ifEither dependencies.bower.length dependencies.npm.length}}
            {{#if dependencies.npm.length}}
                <h2 id="npm">NPM Dependencies</h2>
                <div class="o-table-container">
                    <div class="o-table-overlay-wrapper">
                        <div class="o-table-scroll-wrapper">
                            <table class="o-table o-table--horizontal-lines  o-table--responsive-overflow" data-o-component="o-table" data-o-table-sortable="false" data-o-table-responsive="overflow">
                                <thead>
                                    <tr>
                                        <th scope="col" role="columnheader">Dependency</th>
                                        <th scope="col" role="columnheader" data-o-table-data-type="numeric">Version</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {{#each dependencies.npm}}
                                    <tr>
                                        <td>{{name}}</td>
                                        <td>{{version}}</td>
                                    </tr>
                                {{/each}}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            {{/if}}
            {{#if dependencies.bower.length}}
                <h2 id="bower">Bower Dependencies</h2>
                <div class="o-table-container">
                    <div class="o-table-overlay-wrapper">
                        <div class="o-table-scroll-wrapper">
                            <table class="o-table o-table--horizontal-lines  o-table--responsive-overflow" data-o-component="o-table" data-o-table-sortable="false" data-o-table-responsive="overflow">
                                <thead>
                                    <tr>
                                        <th scope="col" role="columnheader">Dependency</th>
                                        <th scope="col" role="columnheader" data-o-table-data-type="numeric">Version</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {{#each dependencies.bower}}
                                    <tr>
                                        <td>{{name}}</td>
                                        <td>{{version}}</td>
                                    </tr>
                                {{/each}}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            {{/if}}
        {{ else }}
            {{ component.name }} has no dependencies.
        {{/ifEither}}
    </div>

	<div class="o-layout__aside-sidebar o-layout-typography" data-o-component="o-syntax-highlight">
		{{> component/quickstart-sidebar}}
	</div>

	<div class="o-layout__footer">
		{{> footer}}
	</div>
</div>
