<div class="o-layout o-layout--query" data-o-component="o-layout">
	<div class="o-layout__header">
		 {{> header/main }}
	</div>

	<div class="o-layout__heading">
		<div class="o-layout-typography">
			{{> component/header}}
		</div>
        {{> component/messages}}
	</div>

	<div class="o-layout__query-sidebar">
		<ol class="o-layout__navigation">
			<li><a href="#bower">Bower Dependencies</a></li>
		</ol>
	</div>

    <div class="o-layout__main o-layout-typography" data-o-component="o-syntax-highlight">
        <h2 id="bower">Bower Dependencies</h2>
		{{#ifEither dependencies.bower.length dependencies.npm.length}}
            <div class="o-table-container">
                <div class="o-table-overlay-wrapper">
                    <div class="o-table-scroll-wrapper">
                        <table class="o-table o-table--horizontal-lines  o-table--responsive-overflow" data-o-component="o-table" data-o-table-sortable="false" data-o-table-responsive="overflow">
                            <thead>
                                <tr>
                                    <th scope="col" role="columnheader">Dependency</th>
                                    <th scope="col" role="columnheader" data-o-table-data-type="numeric">Version</th>
                                </tr>
                            </thead>
                            <tbody>
                            {{#each dependencies.bower}}
                                <tr>
                                    <td>{{name}}</td>
                                    <td>{{version}}</td>
                                </tr>
                            {{/each}}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
		{{/ifEither}}
    </div>

	<div class="o-layout__aside-sidebar o-layout-typography" data-o-component="o-syntax-highlight">
		{{> component/quickstart-sidebar}}
	</div>

	<div class="o-layout__footer">
		{{> footer}}
	</div>
</div>
