<div class="o-layout o-layout--query" data-o-component="o-layout">
    <div class="o-layout__header">
        {{> header }}
    </div>

    <div class="o-layout__heading">
        <div class="o-layout-typography">
            {{> component/header}}
        </div>
        {{> component/messages}}
    </div>

    <div class="o-layout__query-sidebar">
    </div>

    <div class="o-layout__main" data-o-component="o-syntax-highlight">

        <div class="o-message o-message--notice  o-message--inform" data-o-component="o-message" data-close="false">
            <div class="o-message__container">
                <div class="o-message__content">
                    {{#@root.component.showRequiredPolyfills}}
                        <p class="o-message__content-main">
                            <span class="o-message__content-highlight">The component details page has been replaced.</span>
                            <span>
                                browser features which require a polyfill for {{ component.name }} support are now listed under the "Required polyfills" page. Component dependencies are no longer listed under the registry, these can be found on Github.
                            </span>
                        </p>
                        <div class="o-message__actions">
                            <a href="./polyfills/?brand={{supportedBrand}}" class="o-message__actions__primary">{{ component.name }} required polyfills</a>
                            {{#ifEquals @root.component.origamiVersion '1'}}
                            <a href="https://github.com/Financial-Times/{{ @root.component.name }}/tree/v{{ @root.component.version }}/{{#if file}}{{ file.path }}/{{ file.name }}#L{{ file.lineno }}{{/if}}" class="o-message__actions__secondary">{{ component.name }} on Github</a>
                            {{else}}
                            <a href="https://github.com/Financial-Times/origami/tree/{{ @root.component.name }}-v{{ @root.component.version }}/components/{{ @root.component.name }}" class="o-message__actions__secondary">{{ component.name }} on Github</a>
                            {{/ifEquals}}
                        </div>
                    {{else}}
                        <p class="o-message__content-main">
                            <span class="o-message__content-highlight">The component details page has been replaced.</span>
                            <span>
                                Component dependencies are no longer listed under the registry, these can be found on Github.
                            </span>
                        </p>
                        <div class="o-message__actions">
                            {{#ifEquals @root.component.origamiVersion '1'}}
                            <a href="https://github.com/Financial-Times/{{ @root.component.name }}/tree/v{{ @root.component.version }}/{{#if file}}{{ file.path }}/{{ file.name }}#L{{ file.lineno }}{{/if}}" class="o-message__actions__primary">{{ component.name }} on Github</a>
                            {{else}}
                            <a href="https://github.com/Financial-Times/origami/tree/{{ @root.component.name }}-v{{ @root.component.version }}/components/{{ @root.component.name }}" class="o-message__actions__primary">{{ component.name }} on Github</a>
                            {{/ifEquals}}
                        </div>
                    {{/@root.component.showRequiredPolyfills}}
                </div>
            </div>
        </div>

    </div>


    <div class="o-layout__aside-sidebar o-layout-typography" data-o-component="o-syntax-highlight">
        {{> component/quickstart-sidebar}}
    </div>

    <div class="o-layout__footer">
        {{> footer}}
    </div>
</div>
