<div class="o-layout" data-o-component="o-layout">
	<div class="o-layout__header">
		{{> header/main }}
	</div>

	<div class="o-layout__main o-layout-typography" data-o-component="o-syntax-highlight">
		<div class="registry-error">
			<h1>
				{{title}}
			</h1>

			{{#ifEquals error.status 404}}
				{{#if missingComponentName}}
					<p>
						The component that you're looking for was not found:<br/>
						<span>{{missingComponentName}} @ {{missingComponentVersion}}{{#if requestedBrand}} ("{{requestedBrand}}" brand){{/if}}</span>
					</p>
					{{#unlessEquals missingComponentVersion "latest"}}
						<p>
							Try requesting the <a class="link" href="/components/{{missingComponentName}}@latest">component without a version number</a>,<br/>
							to see whether it actually exists.
						</p>
					{{/unlessEquals}}
					{{#if requestedBrand}}
						<p>
							The brand "{{requestedBrand}}" may not be implemented for this component,<br/>
							try requesting the <a class="link" href="/components/{{missingComponentName}}@{{missingComponentVersion}}">component without a brand</a>.
						</p>
					{{/if}}
					<p>
						Try <a class="link" href="/components?search={{missingComponentName}}&module=true&imageset=true&service=true&active=true&maintained=true&deprecated=true&dead=true&experimental=true">searching for the component name on the registry home page</a>.
					</p>
				{{else}}
					<p>
						The page that you're looking for was not found.
						Try the <a class="link" href="/components">Registry Homepage</a>,
						if you're still having trouble, please get in touch with us via email or Slack.
					</p>
				{{/if}}
			{{else}}
				<p>{{error.message}}</p>
			{{/ifEquals}}
		</div>
	</div>

	<div class="o-layout__footer">
		{{> footer}}
	</div>
</div>
