<div class="o-layout o-layout--query" data-o-component="o-layout">
	<div class="o-layout__header">
		{{> header/main }}
	</div>

	<div class="o-layout__heading o-layout-typography">
		{{> component/header}}
	</div>

	<div class="o-layout__query-sidebar">
		{{> overview/search-form}}
	</div>

	<div class="o-layout__main o-layout-typography" data-o-component="o-syntax-highlight">
		<ul class="registry-component-list o-layout__unstyled-element" data-o-component="o-component-listing" data-test="component-list">
		{{#if repos.length}}
			{{#each repos}}
				{{> overview/component-list-item }}
            {{/each}}
        {{/if}}
		</ul>
	</div>

	<div class="o-layout__aside-sidebar o-layout-typography" data-o-component="o-syntax-highlight">
		{{> overview/sidebar }}
	</div>


	<div class="o-layout__footer">
		{{> footer}}
	</div>
</div>
