<div class="registry__container">
    <div class="registry__container__left">
        {{> codedocs/codedocs-sidebar }}
    </div>

    <div class="registry__container__center">
		<div class="registry__component">
            {{> component/messages}}
            {{> codedocs/sassdoc/sassdoc-node }}
        </div>
    </div>

    <div class="registry__container__right">
        <div class="registry__container__sticky">
                <p>
                    <a href="{{component.supportingUrls.issues}}" class="link-external">Contribute on GitHub</a>
                </p>
        </div>
    </div>
</div>
