<div class="o-layout o-layout--query" data-o-component="o-layout">
	<div class="o-layout__header">
		 {{> header }}
	</div>

	<div class="o-layout__heading">
		<div class="o-layout-typography">
			{{> component/header}}
		</div>
		{{> component/messages}}
	</div>

	<div class="o-layout__query-sidebar">
		{{> component/sidebar-nav }}
	</div>

	<div class="o-layout__main o-layout-typography" data-o-component="o-syntax-highlight">
			{{!-- {{ Output message for no SassDocs. }} --}}
			{{#unless navItems }}
				<p>It looks like SassDocs for {{ component.name }}@{{ component.version }} are missing or formatted incorrectly.<p>
				<p>For component documentation see <a class="link"  href="/components/{{ component.name }}@{{ component.version }}/readme">the readme</a>.</p>
			{{/unless}}

			{{#each sassDocNodes}}
				{{> codedocs/sassdoc/sassdoc-node }}
			{{/each}}

			{{!-- {{ Output default node to display before selection is made. }} --}}
			{{#if defaultNode}}
				{{> codedocs/sassdoc/sassdoc-node defaultNode default=true }}
			{{/if}}
	</div>

	<div class="o-layout__aside-sidebar o-layout-typography" data-o-component="o-syntax-highlight">
		{{> component/quickstart-sidebar}}
	</div>


	<div class="o-layout__footer">
		{{> footer}}
	</div>
</div>
