
<li class="registry__component-list-item" data-o-component="o-component-listing-item" data-test="component-list-item">
	<a href="/components/{{name}}@{{version}}" class="registry__component-list-item-link" data-test="component-link">
		<div class="registry__component-list-item-detail">
			<h3 class="registry__component-list-item-name">{{name}}</h3>
			<p class="registry__component-list-item-description">{{description}}</p>
		</div>
		<div class="registry__component-list-item-stats">
			v{{version}}
			<span class="status-label status-label--{{support.status}}">
				{{support.status}}
			</span>
		</div>
	</a>
</li>
