<form
	action="/components"
	method="get"
	class="registry__form o-layout-sticky-sidebar-container"
	data-o-component="o-filter-form"
	data-o-filter-form-browser-history="true"
>
	{{! Registry search input }}
	<label class="o-forms-field">
		<span class="o-forms-title">
			<span class="o-forms-title__main">
				Search The Registry
			</span>
			<span class="o-forms-title__prompt">
				Find by name or tag
			</span>
		</span>

		<span class="o-forms-input o-forms-input--text o-forms-input--suffix">
			<input type="search" name="search" value="{{filter.search}}" value="" autocomplete="off"/>
			{{! suffix for core experience: submit button }}
			<button type="submit" class="o--if-no-js o-buttons o-buttons--primary o-buttons--big">Search</button>
			{{! suffix for enhanced experience: loading spinner }}
			<span class="registry__form-search-loading"></span>
		</span>
	</label>

	{{! Registry types input }}
	<div class="o-forms-field"
		role="group"
		aria-labelledby="type-filter-title-main"
		aria-describedby="type-filter-title-prompt">
		<span class="o-forms-title">
			<span class="o-forms-title__main" id="type-filter-title-main">
				Types
			</span>
			<span class="o-forms-title__prompt" id="type-filter-title-prompt">
			    Filter the registry by type
			</span>
		</span>
		<span class="o-forms-input o-forms-input--radio-round">

				<label>
				<input id="type-all" type="radio" name="type" value="" {{#unless filter.type}}checked{{/unless}} />
				<label for="type-all" class="o-forms-input__label">All</label>
			</label>
			<label>
				<input id="type-component" type="radio" name="type" value="component" {{#ifEquals filter.type "component"}}checked{{/ifEquals}} />
				<label for="type-component" class="o-forms-input__label">Components</label>
			</label>
			<label>
				<input id="type-service" type="radio" name="type" value="service" {{#ifEquals filter.type "service"}}checked{{/ifEquals}} />
				<label for="type-service" class="o-forms-input__label">Services</label>
			</label>
			<label>
				<input id="type-imageset" type="radio" name="type" value="imageset" {{#ifEquals filter.type "imageset"}}checked{{/ifEquals}} />
				<label for="type-imageset" class="o-forms-input__label">Imagesets</label>
			</label>
			<label>
				<input id="type-cli" type="radio" name="type" value="cli" {{#ifEquals filter.type "cli"}}checked{{/ifEquals}} />
				<label for="type-cli" class="o-forms-input__label">Command-line tools</label>
			</label>
			<label>
				<input id="type-library" type="radio" name="type" value="library" {{#ifEquals filter.type "library"}}checked{{/ifEquals}} />
				<label for="type-library" class="o-forms-input__label">Libraries</label>
			</label>
			<label>
				<input id="type-website" type="radio" name="type" value="website" {{#ifEquals filter.type "website"}}checked{{/ifEquals}} />
				<label for="type-website" class="o-forms-input__label">Websites</label>
			</label>

		</span>
	</div>

	{{! Registry status input }}
	<div class="o-forms-field"
		role="group"
		aria-labelledby="status-filter-title-main"
		aria-describedby="status-filter-title-prompt">
		<span class="o-forms-title">
			<span class="o-forms-title__main" id="status-filter-title-main">
				Status
			</span>
			<span class="o-forms-title__prompt" id="status-filter-title-prompt">
				Filter the registry by status
			</span>
		</span>

		<span class="o-forms-input o-forms-input--checkbox">
			<label>
				<input id="status-active" type="checkbox" name="active" value="true" {{#if filter.active}}checked{{/if}} />
				<label for="status-active" class="o-forms-input__label">Active</label>
			</label>
			<label>
				<input id="status-maintained" type="checkbox" name="maintained" value="true" {{#if filter.maintained}}checked{{/if}} />
				<label for="status-maintained" class="o-forms-input__label">Maintained</label>
			</label>
			<label>
				<input id="status-experimental" type="checkbox" name="experimental" value="true" {{#if filter.experimental}}checked{{/if}} />
				<label for="status-experimental" class="o-forms-input__label">Experimental</label>
			</label>
			<label>
				<input id="status-deprecated" type="checkbox" name="deprecated" value="true" {{#if filter.deprecated}}checked{{/if}} />
				<label for="status-deprecated" class="o-forms-input__label">Deprecated</label>
			</label>
			<label>
				<input id="status-dead" type="checkbox" name="dead" value="true" {{#if filter.dead}}checked{{/if}} />
				<label for="status-dead" class="o-forms-input__label">Dead</label>
			</label>
		</span>
	</div>
</form>
