.registry-component-list {
	margin: 0;
	padding: 0;
}

.registry-component-list-item {
	border-top: 2px solid oColorsGetPaletteColor('slate-white-5');
	list-style-type: none;
	display: block;

	a {
		padding: oTypographySpacingSize(3);
		display: flex;
		overflow: hidden;
		color: initial;
		text-decoration: inherit;
	}

	a:hover {
		background-color: oColorsGetPaletteColor('slate-white-5');
	}

	.registry-component__overview {
		flex: 0 0 160px;
		margin-right: 8px;

		h2 {
			@include oTypographyBody();
			@include oTypographySansBold();
			display: block;
			margin: 0;
		}

		.component-version {
			@include oTypographySize(0);
			display: block;
		}
	}
	
	.registry-component-o-support {
		background-image: url("https://www.ft.com/__origami/service/image/v2/images/raw/ftlogo-v1:origami?source=o-header-services&format=svg&width=55");
		background-repeat: no-repeat;
		background-size: contain;
		background-position: 0;
		display: inline-block;
		height: 20px;
		width: 20px;
		vertical-align: middle;
	}

	.registry-component__details {
		flex-grow: 1;

		display: flex;
		flex-flow: column nowrap;
		justify-content: space-between;

		p {
			@include oTypographyCaption();
			@include oTypographyMargin($top: 0, $bottom: 2);
		}	
	}

	.registry-component__details--labels {
		.o-labels--js,
		.o-labels--scss {
			float: right;
		}

		.o-labels--js {
			margin-left: 4px;
		}
	}
}
