.registry__component-list {
	list-style-type: none;
	padding-left: 0;

	li {
		padding: 8px;

		&:not(.registry__group-title) {
			display: flex;
			border-bottom: 1px solid oColorsGetPaletteColor('slate-white-5');

			&:hover {
				background-color: oColorsGetPaletteColor('slate-white-15');
			}
		}

		&.registry__group {
			cursor: pointer;

			&-title {
				@include oTypographyBold('sans');
				background-color: oColorsGetPaletteColor('slate-white-5');
				color: oColorsGetPaletteColor('black-80');
			}
		}

		.registry__group-item {
			padding: 0 4px;

			&--link {
				@include oTypographySansBold(1);
				text-decoration: none;
				color: oColorsGetPaletteColor('slate-white-80');
			}

			&--description {
				@include oTypographyMargin($top: 2, $bottom: 1);
				padding: 0 4px;
				font-weight: 400;
				color: oColorsGetPaletteColor('slate-white-80');
			}
		}

		.registry__group-stats {
			display: flex;
			flex-flow: column;
			flex-shrink: 0;
			align-items: center;
			margin-left: auto;
			width: 15%;
		}

		&.registry__component-listing--hidden {
			display: none;
		}
	}
}
