.registry-component-list {
	margin: 0;
	padding: 0;
}

.registry-component-list-item {
	padding: oTypographySpacingSize(2) 0;
	list-style-type: none;
	display: block;
	border-top: 2px solid oColorsGetPaletteColor('slate-white-5');

	h2 {
		@include oTypographyBody();
		@include oTypographySansBold();
		display: block;
		margin: 0;
	}

	p {
		@include oTypographyCaption();
		margin-top: 0;
	}

	a {
		padding: oTypographySpacingSize(2) 0;
		padding: oTypographySpacingSize(2);
		display: flex;
		overflow: hidden;
		color: initial;
		text-decoration: inherit;
	}

	a:hover {
		padding: oTypographySpacingSize(2) oTypographySpacingSize(2);
		margin: 0 -#{oTypographySpacingSize(2)};
		background-color: oColorsGetPaletteColor('slate-white-15');
	}

	.registry-component__overview {
		flex: 0 0 160px;
	}

	.registry-component__details {
		display: flex;
		flex-flow: column nowrap;
		justify-content: space-between;
	}

	.registry-component__details--labels {
	}

	.registry-component-status {
		float: right;
		text-align: right;
		margin-left: oTypographySpacingSize(4);
		.status-label {
			margin-right: 0;
			margin-left: 0;
			@include oGridRespondTo(M) {
				margin: 0;
			};
		}
	}
}
