.registry__form {
	@include oTypographyPadding($bottom: 5);

	.o-forms {
		padding: 20px 20px 0;

		&__group {
			margin: 0
		}
	}

	fieldset.o-forms {
		@include oTypographyPadding($top: 0);

		.o-forms__additional-info {
			@include oTypographyPadding($bottom: 4);
		}
	}

	&--overview {
		position: sticky;
		top: 0;
		align-self: flex-start;
		min-width: 260px;
	}

	&--nav {
		padding-bottom: 0;
		min-width: 220px;
	}
}

.registry__search-bar {
	.core & #filter-search {
		margin-top: 12px;
		margin-right: 20px;
	}

	.registry__filter-button {
		@include oButtons(big, primary);
		align-self: flex-end;
	}
}
