.registry__form-search {
	position: relative;
}

.registry__form-search-loading {
	@include oLoadingContent($opts: (
		'theme': 'dark'
	));
}

// registry loading class is defined twice intentionally.
// o-loading mixins create a new selector
// after the one they are used in, to output
// rules after keyframes
.registry__form-search-loading {
	width: 10px;
	height: 10px;
	border-width: 2px;
	position: absolute;
	right: 12px;
	bottom: 12px;
	display: none;
}

.registry__form--loading .registry__form-search-loading {
	display: block;
}

// The registry search suffix is only used for the core experience
// So the suffix margin is not needed for the enhanced experience
.enhanced .registry__form .o-forms-input--suffix input {
	margin-right: 0;
}
