.registry__sidebar {
	flex-shrink: 2;
	border-left: 1px solid oColorsGetPaletteColor('slate-white-5');
	max-width: 35%;
	padding-bottom: oTypographySpacingSize(5);

	&--content {
		position: sticky;
		top: 0;
		align-self: flex-start;
		background-color: oColorsGetPaletteColor('slate-white-5');
		padding: oTypographySpacingSize(1) oTypographySpacingSize(5);
		margin: 0 oTypographySpacingSize(6);

		pre {
			overflow: scroll;
			tab-size: 0;
			padding: oTypographySpacingSize(2);
			background-color: oColorsGetPaletteColor('slate-white-15');;
		}
	}
}
