.registry__search-bar {
	display: flex;

	.core & #filter-search {
		margin-right: 20px;
	}

	.registry__filter-button {
		@include oButtons(big, primary);
		align-self: flex-end;
	}
}

.registry__components {
	padding: 0 20px;
	flex-grow: 1;
}

.registry__table {
	@include oTableBase();

	&-head {
		background-color: oColorsGetPaletteColor('slate-white-5');
	}
}

.registry__table-body {
	tr:not(.registry__group-title):hover {
		background-color: oColorsGetPaletteColor('slate-white-15');
	}

	td {
		vertical-align: middle;
	}

	.registry__group {
		cursor: pointer;
	}

	.registry__group-title {
		border-bottom: 1px solid oColorsGetPaletteColor('slate-white-15');

		td {
			@include oTypographyBold('sans');
			@include oTypographyPadding($top: 4, $bottom: 4);
		}
	}
}

.registry__table-cell-link {
	@include oTypographySansBold(1);
	text-decoration: none;
	color: oColorsGetPaletteColor('slate-white-80');
}

.registry__table-cell-description {
	@include oTypographyMargin($top: 2, $bottom: 1);
	font-weight: 400;
	color: oColorsGetPaletteColor('slate-white-80');
}

.registry__table-cell-show {
	display: none;
}

.registry__table-cell-info {
	@include oTypographyPadding($top: 2);
	display: table-cell;
	color: oColorsGetPaletteColor('slate-white-80');
};
