
.registry__search-bar {
	display: flex;

	.core & #filter-search {
		margin-right: 20px;
	}

	.o-buttons {
		align-self: flex-end;
	}
}

.registry__components {
	padding: 0 20px;
	flex-grow: 1;
}

.registry__table-head {
	background-color: oColorsGetPaletteColor('grey-10');
}

.registry__table-body {
	tr:not(.registry__group-title):hover {
		background-color: oColorsGetPaletteColor('grey-20');;
	}

	td {
		vertical-align: middle;
	}

	.registry__group {
		cursor: pointer;
	}

	.registry__group-title {
		border-bottom: 1px solid oColorsGetPaletteColor('grey-20');;

		td {
			@include oTypographyBold('sans');
			@include oTypographyPadding($top: 4, $bottom: 4);
		}
	}
}

.registry__table-cell {
	&--link {
		@include oTypographySansBold(1);
		text-decoration: none;
		color: oColorsGetPaletteColor('grey-80');;
	}

	&--description {
		@include oTypographyMargin($top: 2, $bottom: 1);
		color: oColorsGetPaletteColor('grey-60');;
		font-weight: 400;
	}

	&--show {
		display: none;
	}

	&--info {
		@include oTypographyPadding($top: 2);
		display: table-cell;
		color: oColorsGetPaletteColor('grey-80');
	};
}
