.registry__container-right__inner {
	position: sticky;
	top: 0;
	align-self: flex-start;

	h2,
	h3 {
		@include oTypographyMargin($bottom: 3);
	}

	p {
		margin: 0;
	}

	ul {
		@include oTypographyMargin($top: 1);
		padding-left: oTypographySpacingSize(5);
	}

	code {
		font-size: 14px;
		padding: 2px;
		background-color: oColorsGetPaletteColor('slate-white-15');
	}

	pre {
		font-size: 14px;
		tab-size: 0;
		padding: oTypographySpacingSize(2);
		background-color: oColorsGetPaletteColor('slate-white-15');

		&.overflow {
			overflow: scroll;
		}
	}

	.github-link {
		@include oButtons(big, 'primary-mono');
		@include oTypographyMargin($top: 5);
		width: 100%;
		text-transform: uppercase;
		border: none;
	}
}
