<div class="registry__component">
	{{#unlessEquals component.brands.length 0}}
		<ul data-o-tabs--js class="o-tabs o-tabs--big o-tabs--buttontabs registry__component--brand-tabs" role="tablist">
			{{#component.brands}}
				<li role="tab"
					{{#ifEquals this @root.component.requestedBrand}}aria-selected="true"{{/ifEquals}}>
					<a href="#{{this}}">{{this}} brand</a>
				</li>
			{{/component.brands}}
		</ul>

		{{> component/container @root}}

	{{else}}
		{{> component/container }}
	{{/unlessEquals}}
</div>
