{{#unlessEquals component.brands.length 0}}
	<ul data-o-component="o-tabs" class="o-tabs o-tabs--big o-tabs--buttontabs registry__component--brand-tabs" role="tablist">
		{{#component.brands}}
			<li role="tab" {{#ifEquals this @root.component.requestedBrand}}aria-selected="true"{{/ifEquals}}><a href="#{{this}}">{{this}}</a></li>
		{{/component.brands}}
	</ul>
		{{#component.brands}}
			<div id="{{this}}" class="o-tabs__tabpanel">
				{{> component/type/demos @root}}
			</div>
		{{/component.brands}}
{{else}}
	{{> component/type/demos }}
{{/unlessEquals}}
