<div class="registry__component--container">

	<div class="registry__alert">
		{{> component/alerts}}
	</div>

	{{> component/header}}

	{{#if demos}}
		{{> component/type/demos}}
	{{/if}}

	{{#if images}}
		{{> component/type/images}}
	{{/if}}

	{{#if service}}
		{{> component/type/service}}
	{{/if}}

	<div class="registry__component--support">
		<div class="registry__component--contact">
		<h4 id="support" data-o-component="o-linked-heading" class="registry__linked-heading">Support</h4>
			<p><span>Email </span><a class="link" href="mailto:{{component.support.email}}?subject={{component.name}}">{{component.support.email}}</a></p>
			{{#if component.support.channel}}
			<p><span>Slack </span><a class="link" href="{{component.support.channel.url}}">{{component.support.channel.name}}</a></p>
			{{/if}}
		</div>
		<a href="{{component.supportingUrls.issues}}" class="secondary-button">Report an issue on GitHub</a>
	</div>

</div>
