<div class="o-registry-ui__component--container">


	{{> component/header}}

	{{#if demos}}
		{{> component/demos}}
	{{/if}}

	{{#if images}}
		{{> component/images}}
	{{/if}}
	
	{{> component/service-details}}

	<div class="o-registry-ui__component--support">
		<div class="o-registry-ui__component--contact">
		<h4>Support</h4>
			<p><span>EMAIL </span><a href="mailto:{{component.support.email}}?subject={{component.name}}">{{component.support.email}}</a></p>
			{{#if component.support.channel}}
			<p><span>SLACK </span><a href="{{component.support.channel.url}}">{{component.support.channel.name}}</a></p>
			{{/if}}
		</div>
		<a href="{{component.url/issue}}" class="secondary-button">REPORT AN ISSUE ON GITHUB</a>
	</div>

</div>
