{{#if demos}}
<div class="o-registry-ui__component--demo-container">
	{{#demos}}
		<div class="o-registry-ui__component--demo">
			<h3 class="o-registry-ui__component--demo-title">{{title}}</h3>
			{{#if description}}
				<p class="o-registry-ui__component--demo-description">{{description}}</p>
			{{/if}}
			{{#if display.live}}
				<span><a href="{{supportingUrls.live}}" target="_blank">Open demo in a new tab</a></span>
				<iframe scrolling="no" allowTransparency="true" src="{{supportingUrls.live}}" class="demo__live"></iframe>
			{{/if}}
			{{#if display.html}}
				<iframe scrolling="no" allowTransparency="true" src="{{supportingUrls.html}}" class="demo__code"></iframe>
			{{/if}}
		</div>
	{{/demos}}
</div>
{{/if}}
