<div class="registry__component__dependencies">
	<div class="resgistry__dependency-tables">
		{{#if bower}}
			<table class="registry__dependency-table">
				<tr>
					<th colspan=2>Bower Dependencies</th>
				</tr>
				{{#each bower}}
					<tr>
						<td>{{name}}</td>
						<td>{{version}}</td>
					</tr>
				{{/each}}
			</table>
		{{/if}}

		{{#if npm}}
			<table class="registry__dependency-table">
				<tr>
					<th colspan=2>npm Dependencies</th>
				</tr>
				{{#each npm}}
					<tr>
						<td>{{name}}</td>
						<td>{{version}}</td>
					</tr>
				{{/each}}
			</table>
		{{/if}}
	</div>
</div>
