<div class="registry__component-info">
	<div class="registry__component-header">
		<h1 class="registry__component-name">{{component.name}}</h1>
		<p class="registry__component-description">{{component.description}}</p>
		<div class="registry__component-links">
			<a class="external-link" href="{{component.url}}#readme">Readme</a>
			{{#if component.hasJS}}<a class="external-link" href="http://codedocs.webservices.ft.com/v1/jsdoc/{{component.name}}@v{{component.version}}">JSDoc</a>{{/if}}
			{{#if component.hasCSS}}<a class="external-link" href="http://codedocs.webservices.ft.com/v1/sassdoc/{{component.name}}@v{{component.version}}">SassDoc</a>{{/if}}
		</div>
	</div>

	<div class="registry__component-state">
		<span class="status-label status-label--{{component.support.status}}" data-test="support-status">{{component.support.status}}</span>
		<div class="version-selection">
			<label for="select">Version:</label>
			<select id="select" class="version__select version__select--small">
				{{#versions}}
					<option value="/components/{{name}}@{{version}}" {{#ifEquals version @root.component.version}}data-test="current-version" selected{{/ifEquals}}>{{version}}</option>
				{{/versions}}
			</select>
		</div>
	</div>
</div>
