<div class="o-registry-ui__component--demo-container">
	<h3 class="o-registry-ui__component--demo-title">Image Set</h3>
	<!--
	TODO remove inline styles from here: they're just in place to make the page smaller
	while we test things out
	-->
	<ul class="o-registry-ui__component--image-grid">
		{{#images}}
			<li class="o-registry-ui__component--image-item">
				<img src="{{supportingUrls.w200}}" alt="{{title}}"/>
				<p class="o-registry-ui__component--image-title">{{title}}</p>
			</li>
		{{/images}}
	</ul>
</div>
