<form class="o--if-js registry__form registry__form--nav" action="{{requestUrl}}" method="get" data-o-component="o-filter-form">
	<div class="o-forms">
		<label for="filter-search" class="o-forms__label">Filter components</label>
		<div class="registry__form-search">
			<input id="filter-search" type="text" aria-role="search" name="search" value="" autocomplete="off" class="o-forms__text"/>
			<span class="registry__form-search-loading"></span>
		</div>
	</div>
</form>

<ul class="registry__component-list registry__component-list--compact" data-o-component="o-component-listing" data-test="component-list">
	{{#if repos.length}}
		{{#repos}}
			{{>overview/component-list-item}}
		{{/repos}}
	{{/if}}
</ul>
