{{#unless component.support.isOrigami}}
		<div class="registry__alert">
			<div class="o-message o-message--notice-inner o-message--warning-light" data-o-component="o-message" data-close=false>
				<div class="o-message__container">
					<div class="o-message__content">
						<span class="o-message__content-highlight">This component is not maintained by the Origami team.</span>
						<p class="o-message__content-additional">
							While this component may be used, it is not supported directly by the Origami team.
							We make no guarantees about the support status, though we will help you if we can.
						</p>
					</div>
				</div>
			</div>
		</div>
{{else}}
	{{#ifEquals component.support.status "experimental"}}
		<div class="registry__alert">
			<div class="o-message o-message--notice-inner o-message--warning-light" data-o-component="o-message" data-close=false>
				<div class="o-message__container">
					<div class="o-message__content">
						<span class="o-message__content-highlight">This component is experimental.</span>
						<p class="o-message__content-additional">
							This component is not guaranteed to be ready for production use,
							and the API should be considered unstable.
						</p>
					</div>
				</div>
			</div>
		</div>
	{{/ifEquals}}

	{{#ifEquals component.support.status "deprecated"}}
		<div class="registry__alert">
			<div class="o-message o-message--notice-inner o-message--warning-light" data-o-component="o-message" data-close=false>
				<div class="o-message__container">
					<div class="o-message__content">
						<span class="o-message__content-highlight">This component is deprecated.</span>
						<p class="o-message__content-additional">
							This component should not be used for new projects. Only the most severe security-related
							bugs will be fixed for this component, though existing implementations will continue to work.
							This page is here for existing users to refer to documentation.
						</p>
					</div>
				</div>
			</div>
		</div>
	{{/ifEquals}}

	{{#ifEquals component.support.status "dead"}}
		<div class="registry__alert">
			<div class="o-message o-message--alert-inner o-message--error" data-o-component="o-message" data-close=false>
				<div class="o-message__container">
					<div class="o-message__content">
						<span class="o-message__content-highlight">This component is dead</span>
						<p class="o-message__content-additional">
							This component is known to be broken, or is very likely to break.
							There are no plans to fix any issues with this component.
						</p>
					</div>
				</div>
			</div>
		</div>
	{{/ifEquals}}

	{{#ifAny component.support.status 'active' 'maintained'}}
		{{#if component.brandable }}
			<div class="registry__notice">
				<div class="o-message o-message--notice o-message--inform" data-o-component="o-message" data-close=false>
					<div class="o-message__container">
						<div class="o-message__content">
							<p class="o-message__content-main">
								<span class="o-message__content-highlight">This component hasn't been branded yet.</span>
								If you need it to be branded <a class="o-message__actions__secondary" href="#support">please get in touch with the Origami team</a>.
							</p>
						</div>
					</div>
				</div>
			</div>
		{{/if}}
	{{/ifAny}}
{{/unless}}
