{{#unless component.support.isOrigami}}
	<div class="o-message o-message--notice o-message--inner o-message--inform" data-o-component="o-message" data-close="false">
		<div class="o-message__container">
			<div class="o-message__content">
				<p class="o-message__content-main">
					<span class="o-message__content-highlight">
						{{component.name}} is not maintained by the Origami team.
					</span>
					<span class="o-message__content-detail">
						This means that the Origami team will not necessarily be able to help you
						with support requests.
						<a class="o-message__actions__secondary o-layout__unstyled-element" href="#help-support">The people who maintain this component</a>
						may be able to offer support, but it's not guaranteed.
					</span>
				</p>
			</div>
		</div>
	</div>
{{/unless}}

{{#ifEquals component.support.status "experimental"}}
	<div class="o-message o-message--notice o-message--inner o-message--warning-light" data-o-component="o-message" data-close="false">
		<div class="o-message__container">
			<div class="o-message__content">
				<p class="o-message__content-main">
					<span class="o-message__content-highlight">
						{{component.name}} has a support status of "experimental".
					</span>
					<span class="o-message__content-detail">
						This means that the component's API may change without notice, and
						there is no guarantee that the component is ready for production use.
					</span>
				</p>
			</div>
		</div>
	</div>
{{/ifEquals}}

{{#ifEquals component.support.status "deprecated"}}
	<div class="o-message o-message--notice o-message--inner o-message--warning-light" data-o-component="o-message" data-close="false">
		<div class="o-message__container">
			<div class="o-message__content">
				<p class="o-message__content-main">
					<span class="o-message__content-highlight">
						{{component.name}} has a support status of "deprecated".
					</span>
					<span class="o-message__content-detail">
						This means that no new features will be added to this component, but
						security-related bugs will be fixed. We do not recommend using this
						component in new projects. If you still rely on this component or have
						concerns, please contact the Origami team.
					</span>
				</p>
			</div>
		</div>
	</div>
{{/ifEquals}}

{{#ifEquals component.support.status "dead"}}
	<div class="o-message o-message--alert o-message--inner o-message--error" data-o-component="o-message" data-close="false">
		<div class="o-message__container">
			<div class="o-message__content">
				<p class="o-message__content-main">
					<span class="o-message__content-highlight">
						{{component.name}} has a support status of "dead".
					</span>
					<span class="o-message__content-detail">
						This means that there are no plans to fix any issues with this
						component, and it may stop working at any point. More information
						on the status of this component is available
						<a class="o-message__actions__secondary o-layout__unstyled-element" href="/components/{{component.name}}@{{component.version}}/readme{{#if @root.currentBrand}}?brand={{@root.currentBrand}}{{/if}}">in the README</a>.
						If you still rely on this component or have concerns, please contact
						the Origami team.
					</span>
				</p>
			</div>
		</div>
	</div>
{{/ifEquals}}

{{#ifAny component.support.status 'active' 'maintained'}}
	{{#if component.brandable }}
		<div class="o-message o-message--notice o-message--inner o-message--inform" data-o-component="o-message" data-close="false">
			<div class="o-message__container">
				<div class="o-message__content">
					{{#ifEquals versions.0.version component.version}}
						<p class="o-message__content-main">
							<span class="o-message__content-highlight">
								{{component.name}} hasn't been branded yet, it only supports the master brand.
							</span>
							<span class="o-message__content-detail">
								If you would like to discuss having it branded <a class="o-message__actions__secondary o-layout__unstyled-element" href="#support"> please get in touch with the Origami team</a>.
							</span>
						</p>
					{{else}}
						<p class="o-message__content-main">
							<span class="o-message__content-highlight">
								This version of {{component.name}} hasn't been branded yet.
							</span>
							<span class="o-message__content-detail">
								Please check the latest version, <a class="o-message__actions__secondary o-layout__unstyled-element" href="/components/{{ component.name }}@{{versions.0.version}}">{{versions.0.version}}</a>, as branding is a relatively new addition to our components.
							</span>
						</p>
					{{/ifEquals}}
				</div>
			</div>
		</div>
	{{/if}}
{{/ifAny}}
