{{#unless component.support.isOrigami}}
	<div class="o-message o-message--notice o-message--inner o-message--warning-light" data-o-component="o-message" data-close="false">
		<div class="o-message__container">
			<div class="o-message__content">
				<p class="o-message__content-main">
					<span class="o-message__content-highlight">{{component.name}} is not maintained by the Origami team.</span>
					<span class="o-message__content-detail">While this component may be used, we make no guarantees about the support status, though we will help if we can.</span>
				</p>
			</div>
		</div>
	</div>
{{else}}
	{{#ifEquals component.support.status "experimental"}}
		<div class="o-message o-message--notice o-message--inner o-message--warning-light" data-o-component="o-message" data-close="false">
			<div class="o-message__container">
				<div class="o-message__content">
					<p class="o-message__content-main">
						<span class="o-message__content-highlight">{{component.name}} is experimental.</span>
						<span class="o-message__content-detail">This component is not guaranteed to be ready for production use, and the API should be considered unstable.</span>
					</p>
				</div>
			</div>
		</div>
	{{/ifEquals}}

	{{#ifEquals component.support.status "deprecated"}}
		<div class="o-message o-message--notice o-message--inner o-message--warning-light" data-o-component="o-message" data-close="false">
			<div class="o-message__container">
				<div class="o-message__content">
					<p class="o-message__content-main">
						<span class="o-message__content-highlight">{{component.name}} is deprecated.</span>
						<span class="o-message__content-detail">This component should not be used for new projects. Only security-related bugs will be fixed for this component, though existing implementations will continue to work.</span>
					</p>
				</div>
			</div>
		</div>
	{{/ifEquals}}

	{{#ifEquals component.support.status "dead"}}
		<div class="o-message o-message--alert o-message--inner o-message--error" data-o-component="o-message" data-close="false">
			<div class="o-message__container">
				<div class="o-message__content">
					<p class="o-message__content-main">
						<span class="o-message__content-highlight">{{component.name}} is dead.</span>
						<span class="o-message__content-detail">This component is known to be broken, or is very likely to break. There are no plans to fix any issues with this component.</span>
					</p>
				</div>
			</div>
		</div>
	{{/ifEquals}}

	{{#ifAny component.support.status 'active' 'maintained'}}
		{{#if component.brandable }}
			<div class="o-message o-message--notice o-message--inner o-message--inform" data-o-component="o-message" data-close="false">
				<div class="o-message__container">
					<div class="o-message__content">
						{{#ifEquals versions.0.version component.version}}
							<p class="o-message__content-main">
								<span class="o-message__content-highlight">{{component.name}} hasn't been branded yet, it only supports the master brand.</span>
								<span class="o-message__content-detail">If you would like to discuss having it branded <a class="o-message__actions__secondary o-layout__unstyled-element" href="#support"> please get in touch with the Origami team</a>.</span>
							</p>
						{{else}}
							<p class="o-message__content-main">
								<span class="o-message__content-highlight">This version of {{component.name}} hasn't been branded yet.</span>
								<span class="o-message__content-detail">Please check the latest version, <a class="o-message__actions__secondary o-layout__unstyled-element" href="{{component.name}}@{{versions.0.version}}">{{versions.0.version}}</a>, as branding is a relatively new addition to our components.</span>
							</p>
						{{/ifEquals}}
					</div>
				</div>
			</div>
		{{/if}}
	{{/ifAny}}
{{/unless}}
