<div class="registry__container__sticky">
	<form action="#" method="GET" class="registry-component-version-form">
		<fieldset>
			<legend>Switch component view</legend>
			{{#if component.brands}}
				<div class="o-forms">
					<label for="select-brand" class="o-forms__label">Brand</label>
					<select data-version-select id="select-brand" class="o-forms__select o-forms__select--small">
					{{#component.brands}}
						<option value="/components/{{@root.component.name}}@{{@root.component.version}}/{{#ifAny @root.nav 'sassdoc' 'jsdoc' 'readme'}}{{@root.nav}}/{{/ifAny}}?brand={{this}}" {{#ifEquals this @root.currentBrand}}selected{{/ifEquals}}>{{this}}</option>
					{{/component.brands}}
					</select>
				</div>
			{{/if}}

			<div class="o-forms">
				<label for="select-version" class="o-forms__label">Version</label>
				<select data-version-select id="select-version" class="o-forms__select o-forms__select--small">
				{{#versions}}
					<option value="/components/{{@root.component.name}}@{{version}}/{{#ifAny @root.nav 'sassdoc' 'jsdoc' 'readme'}}{{@root.nav}}/{{/ifAny}}?brand={{@root.currentBrand}}" {{#ifEquals version @root.component.version}}data-test="current-version" selected{{/ifEquals}}>{{version}}</option>
				{{/versions}}
				</select>
			</div>
		</fieldset>
	</form>

	<p>
		<a class="registry-link registry-link--external" href="{{component.url}}">GitHub Repository</a>
	</p>

	<details>
		<summary id="quickstart">Quickstart</summary>
		{{#ifEquals component.type 'imageset'}}
			{{> component/quickstart/imageset}}
		{{/ifEquals}}


		<p>If using the <a class="registry-link registry-link--external" href="http://origami.ft.com/docs/developer-guide/modules/build-service/">Build Service</a>, add <code class="o-syntax-highlight--html">{{@root.component.name}}@^{{@root.component.version}}{{#unlessEquals @root.currentBrand 'master'}}&brand={{@root.currentBrand}}{{/unlessEquals}}</code> to your
			{{#ifBoth @root.component.hasJS @root.component.hasCSS}}
				script and link tags.
			{{else}}
				{{#if @root.component.hasJS}}script tag.{{/if}}
				{{#if @root.component.hasCSS}}link tag.{{/if}}
			{{/ifBoth}}
		</p>

		<p>
			If running a <a class="registry-link registry-link--external" href="http://origami.ft.com/docs/developer-guide/building-modules/">Manual Build</a>, run <code class="o-syntax-highlight--bash">bower install --save "{{@root.component.name}}"@"^{{@root.component.version}}"</code>.
		</p>
	</details>

	<details>
		<summary id="support">Support Details</summary>
		<p>
			Email: <a class="registry-link registry-link--external" href="mailto:{{component.support.email}}?subject={{component.name}}">{{component.support.email}}</a>
			{{#if component.support.channel}}
				<br>Slack: <a class="registry-link registry-link--external" href="{{component.support.channel.url}}">{{component.support.channel.name}}</a>
			{{/if}}
		</p>
	</details>

</div>
