<div class="o-layout-sticky-sidebar-container">
	{{! fake form field, so we can match the title style }}
	{{#component.support}}
	<div class="o-forms-field">
		<span class="o-forms-title">
			<span class="o-forms-title__main">Status</span>
		</span>
		<div class="o-forms-input">
			{{#status}}
				<span data-test="support-status"
				title="{{@root.component.name}} support status: {{.}}"
				aria-label="{{@root.component.name}} support status: {{.}}"
				class="o-labels o-labels--{{.}} component-aside-sidebar-label">
				{{.}}
				</span>
			{{/status}}
			{{#ifEquals @root.component.origamiVersion '1'}}
				<span data-test="origami-version"
					title="{{@root.component.name}} follows v{{@root.component.origamiVersion}} of the Origami specification, and is installable via Bower."
					aria-label="{{@root.component.name}} follows v{{@root.component.origamiVersion}} of the Origami specification, and is installable via Bower."
					class="o-labels component-aside-sidebar-label">
					Origami v{{@root.component.origamiVersion}} (Bower)
				</span>
			{{/ifEquals}}
			{{#isOrigami}}
				<span
					title="{{@root.component.name}} is maintained by the core Origami team"
					aria-label="{{@root.component.name}} is maintained by the core Origami team"
					class="registry-component-o-support">
				</span>
			{{/isOrigami}}
		</div>
	</div>
	{{/component.support}}
	<form action="" method="GET" class="registry-component-version-form">
		{{! component brand / version selection }}
		<fieldset>
			<legend>Switch component view</legend>
			{{! component brand options }}
			{{#if component.brands}}
			<label class="o-forms-field">
				<span class="o-forms-title">
					<span class="o-forms-title__main">Brand</span>
				</span>

				<span class="o-forms-input o-forms-input--select">
					<select name="switch-brand" data-version-select>
					{{#component.brands}}
						<option
							value="{{this}}"
							data-redirect="/components/{{@root.component.name}}@{{@root.component.version}}/{{#ifAny @root.nav 'sassdoc' 'jsdoc' 'readme'}}{{@root.nav}}/{{/ifAny}}{{#unlessEquals this 'core' }}?brand={{this}}{{/unlessEquals}}"
							{{#ifEquals this @root.currentBrand}}selected="true"{{/ifEquals}}>
							{{this}}
						</option>
					{{/component.brands}}
					</select>
				</span>
			</label>
			{{/if}}
			{{! component version options }}
			<label class="o-forms-field">
				<span class="o-forms-title">
					<span class="o-forms-title__main">Version</span>
				</span>

				<span class="o-forms-input o-forms-input--select">
					<select name="switch-version" data-version-select>
					{{#versions}}
						<option
							value="{{version}}"
							data-redirect="/components/{{@root.component.name}}@{{version}}/{{#ifAny @root.nav 'sassdoc' 'jsdoc' 'readme'}}{{@root.nav}}/{{/ifAny}}{{#unlessEquals @root.currentBrand 'core' }}?brand={{@root.currentBrand}}{{/unlessEquals}}"
							{{#ifEquals version @root.component.version}}data-test="current-version" selected="true"{{/ifEquals}}>
							{{version}}
						</option>
					{{/versions}}
					</select>
				</span>
			</label>
			{{! core experience submit button }}
			<input class="switch-button o--if-no-js o-buttons o-buttons--big o-buttons--secondary o-buttons--mono" type="submit" value="Switch To Version{{#if component.brands}} &amp; Brand{{/if}}">
		</fieldset>
	</form>

	{{#ifEquals @root.component.origamiVersion '1'}}
		<p>
			<a class="registry-link registry-link--github" href="{{@root.component.url}}">GitHub: {{ @root.component.name }}</a>
		</p>
	{{else}}
		<p>
			<a class="registry-link registry-link--github" href="https://github.com/Financial-Times/origami/tree/{{ @root.component.name }}-v{{ @root.component.version }}/components/{{ @root.component.name }}">GitHub: {{ @root.component.name }}@{{ @root.component.version }}</a>
		</p>
	{{/ifEquals}}

	{{#ifEquals component.type 'service'}}
		<details>
			<summary id="help-support">Help &amp; Support</summary>
			{{#unless component.support.isOrigami}}
				<p>{{ component.name }} is not supported directly by the Origami team. We make no guarantees, but will help if we can. First try contacting its maintainers at:</p>
				<p>{{#if component.support.channel}}Slack:&nbsp;<a class="registry-link registry-link-external" href="{{component.support.channel.url}}">{{component.support.channel.name}}</a>{{/if}}<br>Email:&nbsp;<a class="registry-link registry-link-external" href="mailto:{{component.support.email}}?subject={{component.name}}">{{component.support.email}}</a></p>
			{{else}}
				<p>Check the <a class="registry-link registry-link-external" href="{{service.primaryUrl}}">{{ component.name }} documentation</a> if you haven't already. It's maintained directly by the Origami team so if you have any questions we are happy to help. &#x1F60A;</p>
				<p>{{#if component.support.channel}}Slack:&nbsp;<a class="registry-link registry-link-external" href="{{component.support.channel.url}}">{{component.support.channel.name}}</a>{{/if}}<br>Email:&nbsp;<a class="registry-link registry-link-external" href="mailto:{{component.support.email}}?subject={{component.name}}">{{component.support.email}}</a></p>
			{{/unless}}
		</details>
	{{/ifEquals}}

	{{#if component.isComponent }}
		<details>
			<summary id="install">Install {{@root.component.name}}</summary>


			<p>If using the <a class="registry-link registry-link-external" href="{{ft.options.origamiSite}}documentation/tutorials/build-service/">Build Service</a>, add <code class="o-syntax-highlight--html">{{@root.component.name}}@^{{@root.component.version}}</code> to your
				{{#ifBoth @root.component.hasJS @root.component.hasCSS}}
					script and link tags.
				{{else}}
					{{#if @root.component.hasJS}}script tag.{{/if}}
					{{#if @root.component.hasCSS}}link tag.{{/if}}
				{{/ifBoth}}
				{{#if @root.component.hasCSS}}
					{{#unlessEquals @root.currentBrand 'core'}}
						Ensure the correct brand is set with a query parameter <code class="o-syntax-highlight--html">&brand={{@root.currentBrand}}</code>.
					{{/unlessEquals}}
				{{/if}}
			</p>

			{{#ifEquals @root.component.origamiVersion 1}}
			<p>
				If using the Bower package manager for a <a class="registry-link registry-link-external" href="{{ft.options.origamiSite}}documentation/tutorials/manual-build/">Manual Build</a>, run <code class="o-syntax-highlight--bash">bower install --save "{{@root.component.name}}@^{{@root.component.version}}"</code>.
			</p>
			{{else}}
			<p>
				If using the npm package manager for a <a class="registry-link registry-link-external" href="{{ft.options.origamiSite}}documentation/tutorials/manual-build/">Manual Build</a>, run <code class="o-syntax-highlight--bash">npm install --save-peer "@financial-times/{{@root.component.name}}@^{{@root.component.version}}"</code>.
			</p>
			{{/ifEquals}}
		</details>


		<details>
			<summary id="help-support">Help &amp; Support</summary>
			{{#unless component.support.isOrigami}}
				<p>{{ component.name }} is not supported directly by the Origami team. We make no guarantees, but will help if we can. First try contacting its maintainers at:</p>
				<p>{{#if component.support.channel}}Slack:&nbsp;<a class="registry-link registry-link-external" href="{{component.support.channel.url}}">{{component.support.channel.name}}</a>{{/if}}<br>Email:&nbsp;<a class="registry-link registry-link-external" href="mailto:{{component.support.email}}?subject={{component.name}}">{{component.support.email}}</a></p>
			{{else}}
				<p>{{ component.name }} is maintained directly by the Origami team. If you have any questions about {{ component.name }} or Origami in general, we are happy to help. &#x1F60A;</p>
				<p>{{#if component.support.channel}}Slack:&nbsp;<a class="registry-link registry-link-external" href="{{component.support.channel.url}}">{{component.support.channel.name}}</a>{{/if}}<br>Email:&nbsp;<a class="registry-link registry-link-external" href="mailto:{{component.support.email}}?subject={{component.name}}">{{component.support.email}}</a></p>
			{{/unless}}
		</details>

		{{#if component.support.isOrigami}}
		<details>
			<summary id="feedback-issues">Feedback / Issues</summary>
			<p>To report a bug or request features please <a class="registry-link registry-link-external" href="{{component.url}}/issues">create an issue</a> on Github. For support or general feedback please get in touch &#x1F60A;</p>
			<p>{{#if component.support.channel}}Slack:&nbsp;<a class="registry-link registry-link-external" href="{{component.support.channel.url}}">{{component.support.channel.name}}</a>{{/if}}<br>Email:&nbsp;<a class="registry-link registry-link-external" href="mailto:{{component.support.email}}?subject={{component.name}}">{{component.support.email}}</a></p>
		</details>
		{{/if}}
	{{/if}}

</div>
