
{{#if service}}
	<h2>Service Details</h2>

	<dl>
		{{#if service.systemCode}}
			<dt>System code</dt>
			<dd>{{service.systemCode}}</dd>
		{{/if}}

		{{#if service.serviceTier}}
			<dt>Service tier</dt>
			<dd>{{service.serviceTier}}</dd>
		{{/if}}

		{{#if service.primaryUrl}}
			<dt>URL</dt>
			<dd><a href="{{service.primaryUrl}}">{{service.primaryUrl}}</a></dd>
		{{/if}}

	</dl>

	{{#if service.links}}
		<h2>Service Links</h2>
		<ul>
			{{#service.links}}
				<li class="service-link--{{category}}">
					<a href="{{url}}">{{#if description}}{{description}}{{else}}{{url}}{{/if}}</a>
				</li>
			{{/service.links}}
		</ul>
	{{/if}}

{{/if}}
