{{#if navItems}}
	<ol class="o-layout__navigation" data-filterable-nav="filter-form">

		{{! @todo update o-layout so `o-layout__navigation` is a containing div. }}
		<form class="o--if-js registry__form registry__form--nav" action="{{requestUrl}}" method="get" id="filter-form">
			<div class="o-forms">
				<label for="filter-search" class="o-forms__label">
					{{#if subnavFilterLabel}}
						{{subnavFilterLabel}}
					{{else}}
						Filter
					{{/if}}
				</label>
				<input id="filter-search" type="search" name="search" value="" autocomplete="off" class="o-forms__text"/>
			</div>
		</form>

		{{#each navItems}}
			<li>
				<a href="{{ link }}">{{title}}</a>
				{{#if items}}
					<ol>
					{{#each items}}
						<li><a href="{{ link }}">{{title}}</a></li>
					{{/each}}
					</ol>
				{{/if}}
			</li>
		{{/each}}
	</ol>
{{/if}}
