//TODO: remove this when we've added styling for warning on o-message

.registry__component-alert {
	@include oTypographyMargin($bottom: 4);
	padding: 20px;

	.o-message {

		&__container {
			height: 100%;
			// sass-lint:disable no-vendor-prefixes
			-webkit-font-smoothing: antialiased;
			// sass-lint:enable no-vendor-prefixes
		}

		&__content {
			&--highlight {
				@include oTypographyBold('sans');
				padding-right: oTypographySpacingSize(2);
			}

			&--detail {
				@include oTypographyMargin($top: 0, $bottom: 1);

				&:before {
					content: '';
					position: relative;
					top: -2px;
				}
			}

			&--additional-info {
				margin: 0;
			}
		}
	}
}

.o-message--alert {
	&-warning {
		color: oColorsMix('lemon', 'black', 30);
		background: oColorsMix('lemon', 'white', 30);

		.o-message__content--detail:before {
			@include oIconsGetIcon('warning', oColorsMix('lemon', 'black', 30), 25);
			vertical-align: middle;
		}
	}

	&-error {
		color: oColorsMix('crimson', 'black', 30);
		background: oColorsMix('crimson', 'white', 30);

		.o-message__content--detail:before {
			@include oIconsGetIcon('cross', oColorsMix('crimson', 'black', 30), 25);
			vertical-align: middle;
		}
	}
}
