.registry__doclet {
    display: none;
}

.registry__doclet--default,
.registry__doclet:target {
    display: block;
}

// Hide default doclet if another doclet is the target.
.registry__doclet:target ~ .registry__doclet--default {
    display: none;
}

// Wrap column content to fit the given width
// where possible.
.parameter-table-header--default,
.parameter-table-header--description {
    width: 40%;
}
