.o-registry-ui__component {
	&--container {
		@include oGridContainer($grid-mode: "fluid", $bleed: true);
		margin: 20px 32px 0;
		width: 100%;
	}

	&-header {
		display: flex;
		flex-direction: column;
	}

	&-info {
		@include oTypographyPadding($bottom: 3);
		@include oTypographyMargin($bottom: 6);
		display: flex;
		border-bottom: 1px solid oColorsGetPaletteColor('grey-10');
	}

	&-status {
		@include oTypographyPadding($top: 1);
		display: flex;
		flex-direction: column;
		padding-left: 16px;
		margin-left: auto;
	}

	&-name {
		@include oTypographyProductHeadingLevel1();
		@include oTypographyMargin($bottom: 3);
	}

	&-description {
		@include oTypographySans(1);
		@include oTypographyMargin($top: 0, $bottom: 0);
	}

	.o-registry-ui__status-label {
		align-self: left;
		margin: 0;
	}

	.o-registry-ui__selection {
		@include oFormsSmallFeature( 'o-registry-ui');
		@include oTypographySans(0);
		@include oTypographyMargin($top: 2);
		align-self: center;
		display: flex;
		flex-direction: column;
	}

	.o-registry-ui__select {
		@include oFormsCommonFieldBase();
		@include oFormsSelect();
		@include oTypographyMargin($top: 1);
		width: 100px;
	}
}

.o-registry-ui__component--demo {
	@include oTypographyMargin($bottom: 8);

	&-title {
		@include oTypographyProductHeadingLevel4();
		@include oTypographyMargin($bottom: 0);
	}

	&-description {
		@include oTypographySans(0);
		@include oTypographyMargin($top: 0, $bottom: 0);
		color: oColorsGetPaletteColor('grey-80');
	}

	&-display {
		@include oTypographyMargin($top: 3);
		@include oTypographyPadding($bottom: 2);
		border-bottom: 1px solid oColorsGetPaletteColor('grey-10');

		.demo__code,
		.demo__live {
			width: 100%;
			border: 0;
			appearance: none;
		}

		.demo__code {
			background: oColorsGetPaletteColor('grey-5');
		}
	}

	&-nav {
		@include oTypographyMargin($top: 4, $bottom: 2);
		display: flex;

		span {
			@include oGridRespondTo($until: S) {
				display: none;
			};
			margin-left: auto;

			a {
				@include oButtons();
				@include oButtonsCustomTheme($theme: $custom-buttons); // because oButtonsTheme('inverse') has a weird hover colour
			}
		}
	}
}
@include oTabs(); //because oTabs doesn't accept class names.
@include oTabsButtonTabs();

.o-registry-ui__component--demo-nav {
	& .o-tabs--buttontabs [role=tab] {
		@include oButtonsCustomTheme($theme: $custom-buttons); //same as above
	}
}