.registry__component {
	display: flex;

	&--container {
		@include oGridContainer($grid-mode: "fluid", $bleed: true);
		margin: 20px 28px 0;
		width: 100%;
	}
}

.registry__component--demo {
	@include oTypographyMargin($bottom: 8);

	&-title {
		@include oTypographyProductHeadingLevel4();
		@include oTypographyMargin($bottom: 0);
	}

	&-description {
		@include oTypographyMargin($top: 0, $bottom: 0);
		color: oColorsGetPaletteColor('grey-80');
	}

	&-display {
		@include oTypographyMargin($top: 3);
		@include oTypographyPadding($bottom: 2);
		border-bottom: 1px solid oColorsGetPaletteColor('grey-10');
		position: relative;

		.demo__code,
		.demo__live {
			width: 100%;
			border: 0;
			appearance: none;
		}
	}
}

.registry__demo-button {
	@include oButtons();
	@include oButtonsTheme($theme: $demo-custom-buttons); // because oButtonsTheme('inverse') has a weird hover colour
	text-transform: uppercase;

	&:not([disabled]):focus {  //because oButtonsCustomTheme doesn't style focus;
		background: oColorsGetPaletteColor(map-get($demo-custom-buttons, background));
		color: oColorsGetPaletteColor(map-get($demo-custom-buttons, accent));
		border-color: oColorsGetPaletteColor(map-get($demo-custom-buttons, accent));
		outline: 2px solid oColorsGetPaletteColor('teal-100');
	}

	&.select-html {
		position: absolute;
		top: oTypographySpacingSize(2);
		right: oTypographySpacingSize(2);
	}
}

@include oTabs(); //because oTabs doesn't accept class names.
@include oTabsButtonTabs();

.registry__component--demo-tabs {
	@include oTypographyMargin($top: 4, $bottom: 2);
	display: flex;

	span {
		margin-left: auto;
	}

	& .o-tabs--buttontabs [role=tab] { //this is repeated to overwrite otabs button tabs styling, which applies a load of styling for the toggle of tab buttons.
		@include oButtonsTheme($theme: $demo-custom-buttons); //same as above
		text-transform: uppercase;

		&:not([disabled]):focus {
			background: oColorsGetPaletteColor(map-get($demo-custom-buttons, background));
			color: oColorsGetPaletteColor(map-get($demo-custom-buttons, accent));
			border-color: oColorsGetPaletteColor(map-get($demo-custom-buttons, accent));
			outline: 2px solid oColorsGetPaletteColor('teal-100');
		}
	}
}

.registry__component--image {
	&-grid {
		display: flex;
		justify-content: space-around;
		flex-flow: row wrap;
		padding: 0;

		img {
			display: block;
			width: 100%;
			height: auto;
			margin: 0;
		}
	}

	&-item {
		flex: 0 1 35%;
		margin: 0 4px 24px;
		display: flex;
		flex-direction: column;
	}


	&-title {
		@include oTypographyPadding($top: 1, $bottom: 1);
		text-align: center;
		margin-top: auto;
		border-bottom: 1px solid oColorsGetPaletteColor('grey-5');
	}
}

.registry__component--service {
	&-info {
		@include oTypographySans(1);
		span {
			@include oTypographyBold('sans');
			text-transform: uppercase;
		}

		a.link {
			border-bottom: none;
		}
	}
}
