.registry__component--demo {
	@include oTypographyMargin($bottom: 8);
}

.registry__component--demo-display {
		@include oTypographyMargin($top: 3);
		@include oTypographyPadding($bottom: 2);
		border-bottom: 1px solid oColorsGetPaletteColor('slate-white-15');
		position: relative;

		.demo__code,
		.demo__live {
			width: 100%;
			border: 0;
			appearance: none;
		}
}

.registry__demo-button {
	@include oButtons($theme: 'mono');
}

.core .select-html {
	display: none;
}

.registry__demo-button.select-html {
	position: absolute;
	top: oTypographySpacingSize(2);
	right: oTypographySpacingSize(2);
	background: oColorsGetPaletteColor('white');
}

.demo-link {
	@include oTypographyLinkCustom(oColorsGetUseCase(body, text), oColorsGetUseCase(body, text));
	@include oTypographyLinkExternalIcon(oColorsGetColorFor(body, text));
}


// oustide of a block because the below mixins don't accept class names.
@include oTabs();
@include oTabsButtonTabs();

.registry__component--demo-tabs {
	@include oTypographyMargin($top: 4, $bottom: 2);
	display: flex;

	span {
		margin-left: auto;
	}

	ul {
		@include oTabsButtonTabsTheme($theme: 'mono', $selector: false);
		text-transform: uppercase;
	}
}

.registry__component--image-grid {
	display: flex;
	justify-content: space-around;
	flex-flow: row wrap;
	padding: 0;

	img {
		display: block;
		width: 100%;
		height: auto;
		margin: 0;
	}
}

.registry__component--image-item {
	flex: 0 1 35%;
	margin: 0 4px 24px;
	display: flex;
	flex-direction: column;
}

.registry__component--image-title {
	@include oTypographyPadding($top: 1, $bottom: 1);
	text-align: center;
	margin-top: auto;
	border-bottom: 1px solid oColorsGetPaletteColor('slate-white-15');
}

p.o-layout__unstyled-element {
	span {
		@include oTypographyBold('sans');
	}
}
