.registry__component--demo {
	@include oTypographyMargin($bottom: 8);
}

.registry__component--demo-display {
		@include oTypographyMargin($top: 3);
		@include oTypographyPadding($bottom: 2);
		border-bottom: 1px solid oColorsGetPaletteColor('slate-white-15');
		position: relative;

		.demo__html {
			// Add padding to demo html so overlaying controls
			// i.e. "select full code snippet" do not visually
			// obscure demo html
			display: inline-block;
			padding-right: 10rem;
		}

		.demo__live {
			width: 100%;
			border: 0;
			appearance: none;
		}
}

.registry__demo-button {
	@include oButtons($theme: 'mono');
}

.core .registry__demo-button--select-html {
	display: none;
}

.registry__demo-button--select-html {
	position: absolute;
	top: oTypographySpacingSize(2);
	right: oTypographySpacingSize(2);
	background: oColorsGetPaletteColor('white');
}

.demo-link {
	@include oTypographyLinkCustom(oColorsGetUseCase(body, text), oColorsGetUseCase(body, text));
	@include oTypographyLinkExternalIcon(oColorsGetColorFor(body, text));
}

.registry__component--demo-tabs {
	@include oTypographyMargin($top: 4, $bottom: 2);

	.demo-link {
		float: right;
		margin-left: oSpacingByName('s2');
	}

	ul {
		@include oTabsButtonTabsTheme($theme: 'mono', $selector: false);
		// Align tabs with the demo link.
		display: inline-block;
		vertical-align: bottom;
	}
}

.registry__component--image-grid {
	display: flex;
	justify-content: space-around;
	flex-flow: row wrap;
	padding: 0;

	img {
		display: block;
		width: 100%;
		height: auto;
		margin: 0;
	}
}

.registry__component--image-item {
	flex: 0 1 35%;
	margin: 0 4px 24px;
	display: flex;
	flex-direction: column;
	@include oGridRespondTo(M) {
		flex-basis: 20%;
	};
}

.registry__component--image-title {
	@include oTypographyPadding($top: 1, $bottom: 1);
	text-align: center;
	margin-top: auto;
	border-bottom: 1px solid oColorsGetPaletteColor('slate-white-15');
}

.service-details__title {
	@include oTypographyBold('sans');
}
