.registry__component {
	&-info {
		@include oTypographyPadding($bottom: 3);
		@include oTypographyMargin($bottom: 6);
		display: flex;
		border-bottom: 1px solid oColorsGetPaletteColor('slate-white-15');
	}

	&-header {
		display: flex;
		flex-direction: column;
	}

	&-name {
		@include oTypographyProductHeadingLevel1();
		@include oTypographyMargin($bottom: 3);
	}

	&-description {
		@include oTypographySize(1);
		@include oTypographyMargin($top: 0, $bottom: 0);
	}

	&-links {
		@include oTypographyBold('sans');
		@include oTypographyMargin($top: 2);

		.external-link {
			color: oColorsGetPaletteColor('slate-white-80');
			border-bottom: none;
			text-decoration: none;
			padding-right: 8px;

			&:hover {
				color: oColorsGetPaletteColor('slate');
			}

			&:after {
				content: '';
				@include oIconsGetIcon('outside-page', oColorsGetPaletteColor('slate'), 20);
				vertical-align: bottom;
			}
		}
	}
}

.registry__component-state {
	@include oTypographyPadding($top: 1);
	display: flex;
	flex-direction: column;
	padding-left: 16px;
	margin-left: auto;

	.status-label {
		align-self: left;
		margin: 0;
	}

	.version-selection {
		@include oTypographyMargin($top: 2);
		align-self: center;
		display: flex;
		flex-direction: column;

		label {
			text-transform: uppercase;
		}

		.version__select {
			@include oFormsCommonFieldBase();
			@include oFormsSelect();
			@include oTypographyMargin($top: 1);
			width: 100px;

			&--small {
				@include oFormsCommonSmall();
			}
		}
	}
}
