.registry__component--nav {
	@include oTypographySans(1);
	background-color: oColorsGetPaletteColor('slate-white-5');
	min-width: 220px;
}

.registry__component--list {
	list-style: none;
	padding: 0 24px 12px;
	margin: 0;
}

.registry__component--list-title {
	@include oTypographySansBold(2);
	@include oTypographyPadding($top: 5, $bottom: 2);
}

.registry__component--list-item {
	@include oTypographyPadding($top: 1, $bottom: 2);

	a {
		@include oTypographyLinkCustom(
			$baseColor: 'slate',
			$hoverColor: 'slate-white-80',
			$backgroundColor: 'slate-white-5',
			$outlineColor: 'teal-100'
		)

		border-bottom: none;
	}
}

.registry__form--nav {
	@include oTypographyPadding($top: 5, $bottom: 0);
	padding-left: 6px;
	padding-right: 6px;
}
