.registry__component--list {
	list-style: none;
	padding: 0 24px 12px;
	margin: 0;
}

.registry__component--list-title {
	@include oTypographySansBold(2);
	@include oTypographyPadding($top: 5, $bottom: 2);
}

.registry__component--list-item {
	@include oTypographyPadding($top: 1, $bottom: 2);

	a {
		@include oTypographyLinkCustom(
			$baseColor: 'slate',
			$hoverColor: 'slate',
			$backgroundColor: 'slate-white-5',
			$outlineColor: 'teal-100'
		);

		&:not(:hover) {
			border-bottom: none;
		}
	}
}
