.registry__container__sticky {
	position: sticky;
	top: 12px;

	.o-labels {
		@include oTypographyMargin($bottom: 3);
	}
}

// Registry component version switcher.
.registry-component-version-form {
	margin-bottom: oTypographySpacingSize(2);
	fieldset {
		appearance: none;
		border: 0;
		padding: 0;
		margin: 0;
		min-width: 0;
	}

	legend {
		@include oNormaliseVisuallyHidden();
	}

	select {
		option {
			&[value="master"] {
				background-color: oColorsGetPaletteColor('paper');
			}
		}
	}
}


.registry-link--github {
	$color: str-slice(ie-hex-str(oColorsGetColorFor('link', 'text')), 4);
	$hover-color: str-slice(ie-hex-str(oColorsGetColorFor('link-hover', 'text')), 4);
	$background: url("https://www.ft.com/__origami/service/image/v2/images/raw/ftsocial-v2:github?source=registry-ui&tint=#{$color}&format=svg");
	$hover-background: url("https://www.ft.com/__origami/service/image/v2/images/raw/ftsocial-v2:github?source=registry-ui&tint=#{$hover-color}&format=svg");
	&:before {
		@include oIconsBaseStyles();
		content: '';
		width: 1.75rem;
		height: 1.75rem;
		vertical-align: bottom;
		$color: str-slice(ie-hex-str(oColorsGetColorFor('link', 'text')), 4);
		background-image: $background;
	}
	&:hover {
		&:before {
			background-image: $hover-background;
		}
	}
}
