.registry__component--sidebar {
	flex-shrink: 2;
	border-left: 1px solid oColorsGetPaletteColor('slate-white-15');
	min-width: 25%;

	h2,
	h3,
	h4 {
		text-transform: uppercase;
	}

	&--content {
		position: sticky;
		top: 0;
		align-self: flex-start;
		background-color: oColorsGetPaletteColor('slate-white-5');
		padding: oTypographySpacingSize(5);
		margin: oTypographySpacingSize(6);

		code {
			font-size: 14px;
			padding: 2px;
			background-color: oColorsGetPaletteColor('slate-white-15');
		}

		pre {
			font-size: 14px;
			tab-size: 0;
			padding: oTypographySpacingSize(2);
			background-color: oColorsGetPaletteColor('slate-white-15');

			&.overflow {
				overflow: scroll;
			}
		}
	}

	.github-link {
		@include oButtons();
		@include oButtonsSize(big);
		@include oButtonsTheme($theme: $inverse-custom-buttons);
		width: 100%;
		text-transform: uppercase;
		border: none;
	}
}

.o-overlay {
	box-shadow: 0 0 30px 7px rgba(0, 0, 0, 0.2);

	a {
		&.link {
			border-bottom: none;
		}

		&__close {
			background-color: transparent;
		}
	}

	&__content {
		max-width: 600px;
	}


	code {
		font-size: 14px;
		padding: 2px;
		background-color: oColorsGetPaletteColor('slate-white-15');
	}

	pre {
		font-size: 14px;
		tab-size: 0;
		padding: oTypographySpacingSize(2);
		background-color: oColorsGetPaletteColor('slate-white-15');

		&.overflow {
			overflow: scroll;
		}
	}
}
