.registry__component--support {
	@include oTypographySans(1);
	background-color: oColorsGetPaletteColor('slate-white-15');
	padding: 16px;
	margin-bottom: 20px;
	display: flex;

	h4 {
		@include oTypographyProductHeadingLevel4();
	}

	p {
		@include oTypographyMargin($bottom: 0);
	}

	span {
		@include oTypographyBold('sans');
		text-transform: uppercase;
	}

	a {
		&.link {
			border-bottom: none;
		}

		&.secondary-button {
				align-self: flex-end;
				margin-left: auto;
				width: 50%;
		}
	}
}
