//Possible TODO: add more styling to syntax highlight classes as and when required

.demo__code {
	background: oColorsGetPaletteColor('slate-white-5');
	word-break: break-all;
	tab-size: 4;

	code {
		display: block;
		padding: 8px;
		color: oColorsGetPaletteColor('slate-white-80');
		overflow-x: auto;
		font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
		font-size: 14px;
		white-space: inherit;
	}
}

.token {
	.tag {
		color: oColorsGetPaletteColor('crimson-black-90');
	}

	.punctuation {
		color: oColorsGetPaletteColor('slate-white-80');
	}

	.attr-name {
		color: oColorsGetPaletteColor('mandarin-black-90');
	}

	.attr-value {
		color: oColorsGetPaletteColor('wasabi-white-70')
	}
}
