//Possible TODO: add more styling to hljs classes as and when required

.demo__code {
	background: oColorsGetPaletteColor('grey-5');
	word-break: break-all;
	tab-size: 4;

	code {
		font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
		font-size: 14px;
		// white-space: inherit;
	}
}

.hljs {
	display: block;
	padding: 0.5em;
	color: oColorsGetPaletteColor('grey-80');
	overflow-x: auto;
}

.hljs-attribute {
	color: oColorsGetPaletteColor('mandarin-black-90');
}

.hljs-tag {
	color: oColorsGetPaletteColor('grey-80');
}

.hljs-value {
	color: oColorsGetPaletteColor('wasabi-white-70')
}

.hljs-title {
	color: oColorsGetPaletteColor('crimson-black-90');
}
