.o-registry-ui__component--container {
	@include oGridContainer($grid-mode: "fluid", $bleed: true);
	margin: 20px 32px 0;
	width: 100%;
}

.o-registry-ui__component-information {
	display: flex;
	align-items: flex-start;
}

.o-registry-ui__component-description {
	border-bottom: 1px solid oColorsGetPaletteColor('grey-10');
}

.o-registry-ui__component-name {
	@include oTypographyProductHeadingLevel1();
	@include oTypographyMargin($bottom: 3);
	margin-right: auto;
}

.o-registry-ui__component-description,
.o-registry-ui__component--demo-description {
	@include oTypographySans(1);
	@include oTypographyMargin($top: 0);
}

.o-registry-ui__component-version {
	@include oTypographySansBold(0);
}

.o-registry-ui__component--demo {
	&-title {
		@include oTypographyProductHeadingLevel4();
		@include oTypographyMargin($top: 8, $bottom: 0);
	}
}

.o-registry-ui__component--demo-nav {
	@include oTypographyMargin($bottom: 2);
	display: flex;

	span {
		@include oGridRespondTo($until: S) {
			display: none;
		};

		margin-left: auto;

		a {
			@include oButtons();
			@include oButtonsCustomTheme($theme: $custom-buttons); // because oButtonsTheme('inverse') has a weird hover colour
		}
	}
}


@include oTabs(); //because oTabs doesn't accept class names.
@include oTabsButtonTabs();
// @include oTabsButtonTabsTheme('mono');
.o-registry-ui__component--demo-nav {
	& .o-tabs--buttontabs [role=tab] {
		@include oButtonsCustomTheme($theme: $custom-buttons); //same as above
	}
}

.o-registry-ui__component--demo-display {
	@include oTypographyMargin($top: 2, $bottom: 2);
	@include oTypographyPadding($bottom: 2);
	border-bottom: 1px solid oColorsGetPaletteColor('grey-20');

	.demo__live,
	.demo__code {
		width: 100%;
		border: 0;
		appearance: none;
	}

	.demo__code {
		background: oColorsGetPaletteColor('grey-5');
	}
}
