<div class="o-registry-ui__drawer o-header__drawer--services o-header__drawer o--if-js" id="o-header-drawer" data-o-header-drawer="" data-o-header-drawer--no-js="">
	<div class="o-header__drawer-inner">
		<div class="o-header__drawer-tools">
			<span>{{ft.options.name}}</span>
			<button type="button" class="o-header__drawer-tools-close" aria-controls="o-header-drawer">
				<span class="o-header__visually-hidden">Close</span>
			</button>
		</div>
		<nav class="o-header__drawer-menu o-header__drawer-menu--primary" role="navigation" aria-label="Primary navigation">
			<ul class="o-header__drawer-menu-list">
				<li class="o-header__drawer-menu-item">
					<a class="o-header__drawer-menu-link" href="http://origami.ft.com/docs/developer-guide/">
						Docs
					</a>
				</li>
				<li class="o-header__drawer-menu-item">
					<a class="o-header__drawer-menu-link" href="http://origami.ft.com/docs/component-spec/">
						Specs
					</a>
				</li>
				<li class="o-header__drawer-menu-item">
					<a class="o-header__drawer-menu-link" href="/components">
						Components
					</a>
				</li>
			</ul>
		</nav>
	</div>
</div>
