<nav class="o-header-services__primary-nav">
	<div class="o-header-services__container">
		<ul class="o-header-services__nav-list">
			<li class="o-header-services__nav-item">
				<a class="o-header-services__nav-link" href="#">
					Docs
				</a>
			</li>
			<li class="o-header-services__nav-item">
				<a class="o-header-services__nav-link" href="#">
					Specs
				</a>
			</li>
			<li class="o-header-services__nav-item">
				<a class="o-header-services__nav-link" href="/components">
					Components
				</a>
			</li>
		</ul>
	</div>
</nav>
