<nav class="o-header-services__primary-nav">
	<div class="o-header-services__bleed-container">
		<ul class="o-header-services__nav-list">
			<li class="o-header-services__nav-item">
				<a class="o-header-services__nav-link" href="http://origami.ft.com/docs/developer-guide/">
					Docs
				</a>
			</li>
			<li class="o-header-services__nav-item">
				<a class="o-header-services__nav-link" href="http://origami.ft.com/docs/component-spec/">
					Specs
				</a>
			</li>
			<li class="o-header-services__nav-item">
				<a class="o-header-services__nav-link o-header-services__nav-link--selected" href="/components{{#unlessEquals @root.component.requestedBrand 'master' }}?brand={{ @root.component.requestedBrand }}{{/unlessEquals}}">
					Components
				</a>
			</li>
		</ul>
	</div>
</nav>
