.o-header-services__primary-nav {
	background-color: oColorsGetPaletteColor('grey-10');
	border-bottom-color: oColorsGetPaletteColor('grey-30');;
	@include oTypographyMargin($bottom: 5);
}

.o-header-services__nav-link:hover,
.o-header-services__nav-link--selected,
.o-header-services__nav-link[aria-selected=true] {
	background-color: oColorsGetPaletteColor('grey-30');;
}

.beta-notice {
	@include oTypographySans(1);
	@include oTypographyMargin($bottom: 0);
	padding: 16px;
	color: oColorsMix('lemon', 'black', 30);
	background: oColorsMix('lemon', 'white', 70);
	text-align: center;
	a {
		@include oTypographyLinkCustom($baseColor: 'black', $hoverColor: 'grey-80', $backgroundColor: 'lemon', $outlineColor: 'teal-100')
	}
}
