$o-header-services-is-silent: false;
$o-table-is-silent: false;
$o-normalise-is-silent: false;

// Dependancies.
@import 'o-normalise/main';
@import 'o-colors/main';
@import 'o-grid/main';
@import 'o-fonts/main';
@import 'o-typography/main';
@import 'o-header-services/main';
@import 'o-table/main';

// Includes.
@import 'src/scss/colors';
@import 'src/scss/navigation/main';
@import 'src/scss/overview/main';

@include oFontsInclude(MetricWeb, regular);
@include oFontsInclude(MetricWeb, semibold);

.container {
    @include oGridContainer($grid-mode: "fluid", $bleed: true);
}

.demo {
    @include oTypographyMargin($top: 8);
}

.demo__live,
.demo__code {
    width: 100%;
    border: 0;
    appearance: none;
}
