$system-code: 'origami-registry-ui';
$o-brand: 'internal';

@import '@financial-times/o-icons';
@import '@financial-times/o-colors';
@import '@financial-times/o-buttons';
@import '@financial-times/o-fonts';
@import '@financial-times/o-forms';
@import '@financial-times/o-footer-services';
@import '@financial-times/o-grid';
@import '@financial-times/o-header-services';
@import '@financial-times/o-labels';
@import '@financial-times/o-layout';
@import '@financial-times/o-loading';
@import '@financial-times/o-normalise';
@import '@financial-times/o-message';
@import '@financial-times/o-tabs';
@import '@financial-times/o-typography';
@import '@financial-times/o-spacing';
@import '@financial-times/o-syntax-highlight';
@import '@financial-times/o-table';
@import '@financial-times/o-cookie-message';

@import 'src/scss/component/codedocs';
@import 'src/scss/component/demos';
@import 'src/scss/component/quickstart';

@import 'src/scss/overview/component-list';
@import 'src/scss/overview/search-form';

@import 'src/scss/status-labels';

// Normalise browser defaults
@include oNormalise();

// Layout.
@include oLayout($opts: (
	'layouts': ('query', 'docs'),
	'features': ('sidebar-nav', 'linked-headings', 'typography')
));

// Buttons.
@include oButtons($opts: (
	'sizes': ('big'),
	'types': ('primary', 'secondary'),
	'themes': ('mono')
));

// Tables.
@include oTable($opts: (
	'responsive-overflow',
	'lines'
));

.o-table-container,
.o-table {
	margin-bottom: oSpacingByName('s4');
}

// Cookie Banner.
@include oCookieMessage();

// Header.
@include oHeaderServices($opts: (
	'types': ('primary-nav', 'secondary-nav', 'bleed'),
	'logo': 'ftlogo-v1:origami'
));

// Footer.
@include oFooterServices($opts: (
	'logo': 'ftlogo-v1:origami',
	'icons': ('slack', 'github')
));

// Forms.
@include oForms($opts: (
	'elements': ('text', 'checkbox', 'select'),
	'features': ('suffix'),
));

// Typography.

// o-layout provides a basic typography wrapper class which styles
// elements based on their semantics. Output a class so we can
// "upgrade" an anchor tags styles to represent a link that takes
// the user away from the registry.
.registry-link-external {
	@include oTypographyLink(
		$external: true,
		$include-base-styles: false
	);
}

// Messages.
@include oMessage($opts: (
	'types': ('notice', 'alert'),
	'states': ('error', 'warning', 'warning-light', 'inform'),
	'layout': 'inner'
));

.o-message {
	margin-bottom: oSpacingByName('s4');
}

.o-layout__header > .o-message {
	margin-bottom: 0;
}

// Syntax Highlighting.
@include oSyntaxHighlight();

// Tabs.
@include oTabs($opts: (
    'button-tabs': (
		('type': 'secondary', 'theme': 'mono'),
	)
));

// Registry aside sidebar.
.o-layout__aside-sidebar pre code {
	white-space: normal;
	word-break: break-all;
}

.o-layout__aside-sidebar details {
	margin-bottom: oSpacingByName('s4');
	&[open] summary {
		@include oTypographySans(
			$weight: 'semibold',
			$include-font-family: false
		);
	}
	summary {
		margin-bottom: oSpacingByName('s2');
	}
}

// Registry query sidebar. Filterable nav.
[data-filterable-nav] [aria-hidden="true"]{
	display: none;
}

// Registry Buttons.
.download-button,
.switch-button {
	display: block;
	width: 100%;
	margin-bottom: oSpacingByName('s4');
}

// Registry error page layout.
.registry-error {
	position: relative;
	margin: auto;
	text-align: center;
	max-width: oTypographyMaxLineWidth();
}

// Registry title.
.registry-title {
	span,
	label {
		vertical-align: middle;
	}
}
