$o-buttons-is-silent: false;
$o-forms-is-silent: false;
$o-header-services-is-silent: false;
$o-normalise-is-silent: false;
$o-overlay-is-silent: false;
$o-table-is-silent: false;

// Dependencies.
@import 'o-colors/main';
@import 'o-buttons/main';
@import 'o-fonts/main';
@import 'o-forms/main';
@import 'o-grid/main';
@import 'o-header-services/main';
@import 'o-normalise/main';
@import 'o-message/main';
@import 'o-overlay/main';
@import 'o-table/main';
@import 'o-tabs/main';
@import 'o-typography/main';
@import 'o-visual-effects/main';

// Includes.
@import 'src/scss/colors';
@import 'src/scss/component/main';
@import 'src/scss/component-listing';
@import 'src/scss/drawer';
@import 'src/scss/error';
@import 'src/scss/footer';
@import 'src/scss/overview/main';
@import 'src/scss/status-labels';
@import 'src/scss/media-queries';

@include oFontsInclude(MetricWeb, regular);
@include oFontsInclude(MetricWeb, semibold);

html, body {
	height: 100%;
}

.registry {
	display: flex;
	flex-direction: column;
	@include oTypographySans(0);

	.link {
		@include oTypographyLink();
	}

	.secondary-button {
		@include oButtons();
		@include oButtonsSize(big);
		@include oButtonsCustomTheme($theme: $imageset-custom-buttons);
		color: oColorsGetPaletteColor('black');
		width: 100%;
		border-bottom: 1px solid oColorsGetPaletteColor('black');
		text-transform: uppercase;
	}
}
