.o-header-services__primary-nav {
	background-color: oColorsGetPaletteColor('grey-10');
	border-bottom-color: oColorsGetPaletteColor('grey-30');;
	@include oTypographyMargin($bottom: 5);
}

.o-header-services__nav-link:hover,
.o-header-services__nav-link--selected,
.o-header-services__nav-link[aria-selected=true] {
	background-color: oColorsGetPaletteColor('grey-30');;
}

.wip-notice {
	@include oTypographyProductHeadingLevel7;
	@include oTypographyMargin($top: 5);
	text-align: center;
}
