.o-header-services__primary-nav {
	background: oColorsMix(black, white, 10);
	border-bottom-color: oColorsMix(black, white, 30);
}

.o-header-services__nav-link:hover,
.o-header-services__nav-link--selected,
.o-header-services__nav-link[aria-selected=true] {
	background-color: oColorsMix(black, white, 30);
}
