@include oGridRespondTo($until: S) {
	.registry__component--demo-tabs span {
		display: none;
	}
};

@include oGridRespondTo($until: M) {
	.registry__component--nav,
	.registry__sidebar {
		display: none;
	}

	.registry__table-cell-toggle {
		display: none;
	}
}

@include oGridRespondTo($from: M) {
	.registry__component--image-item {
		flex-basis: 20%;
	}

	.registry__table-cell--info {
		display: none;
	}

	.status-label {
		margin: 0;
	}
};

@include oGridRespondTo($until: L) {
	.registry__container-right {
		display: none;
	}
};
