@include oLabels($opts: ( 'sizes': 'small'));

@include oLabelsAddState('active', (
	background-color: oColorsMix('jade', 'black', 70)
));

@include oLabelsAddState('maintained', (
	background-color: oColorsMix('jade', 'black', 70)
));

@include oLabelsAddState('experimental', (
	background-color: oColorsGetPaletteColor('lemon')
));

@include oLabelsAddState('deprecated', (
	background-color: oColorsGetPaletteColor('crimson')
));

@include oLabelsAddState('dead', (
	background-color: oColorsGetPaletteColor('black')
));

@include oLabelsAddState('master', (
	background-color: oColorsGetPaletteColor('paper')
));

@include oLabelsAddState('internal', (
	background-color: oColorsGetPaletteColor('slate-white-15')
));

@include oLabelsAddState('whitelabel', (
	background-color: oColorsGetPaletteColor('white'),
	border-color: oColorsGetPaletteColor('slate-white-15')
));