@include oLabels($opts: ( 'sizes': 'small' ));

@include oLabelsAddState('active', (
	background-color: oColorsMix('jade', 'black', 70)
));

@include oLabelsAddState('maintained', (
	background-color: oColorsMix('jade', 'black', 70)
));

@include oLabelsAddState('experimental', (
	background-color: oColorsByName('lemon')
));

@include oLabelsAddState('deprecated', (
	background-color: oColorsByName('crimson')
));

@include oLabelsAddState('dead', (
	background-color: oColorsByName('black')
));

@include oLabelsAddState('master', (
	background-color: oColorsByName('wheat')
));

@include oLabelsAddState('internal', (
	background-color: oColorsByName('slate-white-15')
));

@include oLabelsAddState('whitelabel', (
	background-color: oColorsByName('white'),
	border-color: oColorsByName('slate-white-15')
));

@include oLabelsAddState('js', (
	background-color: oColorsMix('mandarin', 'lemon', 30)
));

@include oLabelsAddState('scss', (
	background-color: oColorsMix('candy', 'velvet', 50)
));

@include oLabelsAddState('imageset', (
	background-color: oColorsByName('sky')
));
