$_o-registry-ui-base: oColorsMix(black, white, 10);
$_o-registry-ui-highlight: oColorsMix(black, white, 30);
$_o-registry-ui-hover: oColorsMix(black, white, 20);
$_o-registry-ui-text: oColorsMix(black, white, 80);
