<div class="quickstart__build-service">
	<h2>QUICKSTART</h2>
	<div class="build-service--instructions">
		<h3>BUILD SERVICE</h3>
		<p>Add the following to your
			<!-- TODO: implement css/js conditions. -->
			<code>script</code> and <code>link</code> tags.
		</p>
		<pre>{{@root.component.name}}@{{@root.component.version}}</pre>
		<p><a href="#">How do I do that?</a></p>
		<p>For more information see the <a href="http://origami.ft.com/docs/developer-guide/modules/build-service/">Origami build service</a>.</p>
	</div>
	<div class="manual-build--instructions">
		<h3>MANUAL BUILD PROCESS</h3>
		<p>Run the following command in the root directory of your project, to add this dependency to your <code>bower.json</code> file:</p>
		<pre class="overflow">bower install --save "{{@root.component.name}}"@"^{{@root.component.version}}"</pre>
		<p>For more information see the <a href="http://origami.ft.com/docs/developer-guide/building-modules/">Origami build process</a>.</p>
	</div>
</div>
