<div class="quickstart__imageset">
	<h2>QUICKSTART</h2>
	<div class="imageset--instructions">
		<h3>USING THE IMAGESET</h3>
		<p>Image set images can be loaded directly using the Image Service. This scheme for this image set is:
			<!-- TODO: pull the scheme out of origami repo data -->
			<code>ftbrand-v1</code>
		</p>
		<p>To load an image from this image set, use the following URL for the Image Service:</p>
		<pre class="overflow">https://www.ft.com/__origami/service/image/v2/images/raw/ftbrand-v1:{image-name}?source={your-source-here}</pre>
	</div>
	<div class="full-imageset--instructions">
		<h4>DOWNLOAD THE FULL IMAGE SET</h4>
		<!-- TODO: pull the imageset path out of origami repo data -->
		<p>To download the full image set, download the repo from GitHub using the button below. You'll find all the image files in the <code>/src</code> folder.</p>

		<a href="{{@root.component.url}}/archive/master.zip" class="secondary-button">Download the Image Set/a>
	</div>
</div>
