<div class="quickstart__imageset">
	<h2>Quickstart</h2>
	<div class="imageset--instructions">
		<h3>Using the Imageset</h3>
		<p>Image set images can be loaded directly using the Image Service. This scheme for this image set is:
			<code>{{@root.component.imageSetScheme}}</code>
		</p>
		<p>To load an image from this image set, use the following URL for the Image Service:</p>
		<pre class="overflow">https://www.ft.com/__origami/service/image/v2/images/raw/{{@root.component.imageSetScheme}}:{image-name}?source={your-source-here}</pre>
	</div>
	<div class="full-imageset--instructions">
		<h4>Download the full Image Set</h4>
		<p>To download the full image set, download the repo from GitHub using the button below. You'll find all the image files in a sub folder.</p>

		<a href="{{@root.component.url}}/archive/master.zip" class="secondary-button">Download the Imageset</a>
	</div>
</div>
